---
title: Documentation
notes: General documentation of naming conventions, submodules and eventually style guide references.
---

<h1>{{title}}</h1>

<p>This pattern library is built with the open-source <a href="https://github.com/cloudfour/drizzle">Drizzle</a> pattern library tool. The <a href="https://github.com/cloudfour/drizzle/tree/master/docs#getting-started">Drizzle docs</a> have a more comprehensive documentation of the tooling and are a good place to start.</p>

<p>The docs below provide some details specific to the TeamSnap library.</p>

<ul>
  {{#each (pages "docs" ignore="index")}}
    <li>
      <a href="{{@root.baseurl}}/{{url}}">{{data.title}}</a>
    </li>
  {{/each}}
</ul>
