---
notes: |
  Provides warnings, errors, and other feedback to users.
  Inline examples for use with forms or other immediate feedback needs.

order: 2
---
<div class="Feedback" role="alert">
  <div class="Feedback-icon">{{svg "star" class="Icon" role="presentation"}}</div>
  <h5 class="Feedback-title">Pro Tip!</h5> Buy a puppy, it'll all work out.
</div>
<div class="Feedback Feedback--positive" role="alert">
  <div class="Feedback-icon">{{svg "check" class="Icon" role="presentation"}}</div>
  <h5 class="Feedback-title">You are awesome!</h5> Give yourself a pat on the back for doing something succesfully.
</div>
<div class="Feedback Feedback--highlight" role="alert">
  <div class="Feedback-icon">{{svg "notifications" class="Icon" role="presentation"}}</div>
  <h5 class="Feedback-title">Careful now!</h5> I'd think twice about doing that.
</div>
<div class="Feedback Feedback--negative" role="alert">
  <div class="Feedback-icon">{{svg "alert" class="Icon" role="presentation"}}</div>
   <h5 class="Feedback-title">Uh oh!</h5> Something done messed up.
</div>
