---
notes: |
  Provides warnings, errors, and other feedback to users.
  Inline examples with

order: 1
---
<div class="Feedback" role="alert">
  <div class="Feedback-icon">{{svg "star" class="Icon" role="presentation"}}</div>
  No title, just a little text in this one
</div>

<div class="Feedback" role="alert">
  <div class="Feedback-icon">{{svg "star" class="Icon" role="presentation"}}</div>
  <b>Still no title,</b> just a little emphsis on the intro with some text in this one
</div>

<div class="Feedback" role="alert">
  <div class="Feedback-icon">{{svg "star" class="Icon" role="presentation"}}</div>
   <h5 class="Feedback-title">Here's that Title</h5> Along with some text to back it up!
</div>

<div class="Feedback" role="alert">
  <div class="Feedback-icon">{{svg "star" class="Icon" role="presentation"}}</div>
   <h5 class="Feedback-title">Just a Title!</h5>
</div>
