---
notes: |
  For a persistent message the user has to acknowlege and force dismiss.

order: 2

---
<div class="Feedback Feedback--dismissible Feedback--positive">
  <div class="Feedback-icon">{{svg "star" class="Icon" role="presentation"}}</div>
  <span class="Feedback-title">You are awesome!</span> Give yourself a pat on the back for doing something succesfully.
  <i type="button" class="Feedback-dismiss">{{svg "dismiss" class="Icon" role="presentation"}}</i>
</div>
