// Import sass variables from Teamsnap UI so that you can use 'em if you want
@import "../../../teamsnap-ui/src/config/functions.scss";
@import "../../../teamsnap-ui/src/config/config.scss";

body.drizzle-Layout-body {
  padding: 6em 2em 2em 2em;
  min-height: 100vh;
  background: $cu-background !important;
}

// Override standard Drizzle nav for demo pages
.drizzle-Layout-nav {
  position: fixed !important;
  left: 0;
  right: 0;
  top: 0;
  @media (min-width: 60em) { // TODO: make dynamic
    width: auto !important;
    height: auto !important;
  }
}
.drizzle-Nav-header {
  max-width: none;
}
.drizzle-Nav-item {
  padding: 0 !important;
}
.drizzle-Layout-main {
  margin-left: 0 !important;
}
.drizzle__check-toggle {
  margin-left: $su-default;
}
