@media (max-width: 479px) {
  .Panel--hiddenOnSmallestScreens {
    border: 0;
    border-radius: 0;
    background: none;
    background: white;
    padding-bottom: 16px;
    min-height: 100vh;
  }
}

.u-maxWidthMd {
  max-width: 600px;
}

.ColorBlock {
  width: 40px;
  height: 40px;
  margin-right: 8px;
  border-radius: 2px;
  cursor: pointer;
}

.ColorBlocks {
  margin-left: -5px;
  margin-right: -5px;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(40px, 1fr));

  @media (min-width: 480px) {
    grid-template-columns: repeat(auto-fill,minmax(50px, 1fr));
  }
}

.ColorBlocks.is-hidden {
  display: block;

  .ColorBlocks-block:not(.is-active) {
    display: none;
  }

  .ColorBlocks-block.is-active {
    width: 30px;
    height: 30px;

    @media (min-width: 480px) {
      width: 40px;
      height: 40px;
    }

    &:after {
      display: none;
    }
  }
}

.ColorBlocks-block {
  height: 30px;
  @media (min-width: 480px) {
    height: 40px;
  }
  margin: 6px;
  margin-bottom: 9px;
  border-radius: 2px;
  transition: all ease 200ms;
  position: relative;
  display: block;

  &:hover {
    &::after {
      width: calc(100% + 2px);
    }
  }

  &::after {
    width: 0;
    transform: translateX(-50%);
    background: #7fc243;
    content: "";
    height: 5px;
    left: 50%;
    position: absolute;
    top: calc(100% + 4px);
    transition: width .3s;
  }

  &.is-active {
    &::after {
      width: calc(100% + 2px);
    }
  }
}

.FileRequirements {
  list-style-position: outside;
  padding-left: 16px;

  li {
    list-style-position: outside;
    padding-bottom: 2px;
  }
}

.Checkbox--large {
  .Checkbox-label:before {
    font-size: 12px;
    height: 20px;
    width: 20px;
    line-height: 23px;
  }
  .Checkbox-label {
    padding-left: 28px;
  }
}

.ConfigLabel {
  width: 65px;
  font-weight: 600;

  @media (min-width: 480px) {
    width: 100px;
  }
}

.Tshirt {
  height: 175px;

  @media (min-width: 480px) {
    height: 200px;
  }

  img {
    max-width: 120px;
    padding-top: 32px;
  }

  background: url("/team-store-images/white-tshirt.png");
  background-size: cover;
  border: solid 1px lightgray;
  border-radius: 8px;
}

.LogoUpload {
  border: 2px dashed #d6d6d6;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: white;
}

.LogoDemo {
  &.is-hidden {
    visibility: hidden;
    height: 0;
  }
}

.SetupSteps {
  @media (max-width: 480px) {
    margin-right: -16px;
    margin-left: -16px;
  }
}

// Hashrocket range slider styles
input[type=range]:focus{outline:none}input[type=range]::-moz-range-track{cursor:pointer;height:.25rem;width:100%}input[type=range]::-ms-track{cursor:pointer;height:.25rem;width:100%}input[type=range]::-webkit-slider-runnable-track{cursor:pointer;height:.25rem;width:100%}input[type=range]::-moz-range-track{background:#1667ac;border-radius:.25rem;overflow:visible}input[type=range]::-moz-range-track:focus{background:#317ab7;outline:none}input[type=range]::-ms-fill-lower{background:#1667ac;border-radius:.25rem;overflow:visible}input[type=range]::-ms-fill-lower:focus{background:#317ab7;outline:none}input[type=range]::-ms-fill-upper{background:#1667ac;border-radius:.25rem;overflow:visible}input[type=range]::-ms-fill-upper:focus{background:#317ab7;outline:none}input[type=range]::-webkit-slider-runnable-track{background:#1667ac;border-radius:.25rem;overflow:visible}input[type=range]::-webkit-slider-runnable-track:focus{background:#317ab7;outline:none}input[type=range]::-ms-tooltip{display:none}input[type=range]::-ms-track{background:transparent;border-color:transparent;border-width:.5rem 0;color:transparent}input[type=range]::-moz-range-thumb{height:1.5rem;width:1.5rem;-webkit-appearance:none;background:#fff;border:.0625rem solid #bcbcbc;box-shadow:0 0 .2rem 0 rgba(0,0,0,.2);border-radius:50%;cursor:pointer;position:relative}input[type=range]::-ms-thumb{height:1.5rem;width:1.5rem;-webkit-appearance:none;background:#fff;border:.0625rem solid #bcbcbc;box-shadow:0 0 .2rem 0 rgba(0,0,0,.2);border-radius:50%;cursor:pointer;position:relative}input[type=range]::-webkit-slider-thumb{height:1.5rem;width:1.5rem;-webkit-appearance:none;background:#fff;border:.0625rem solid #bcbcbc;box-shadow:0 0 .2rem 0 rgba(0,0,0,.2);border-radius:50%;cursor:pointer;position:relative;top:50%;transform:translateY(-50%)}
