.InputGroup--leftIcon .Input {
  padding-left: 24px;
}

.InputGroup--leftIcon .InputGroup-icon {
  border-right: none;;
}

.InputGroup-icon {
  width: 30px;
  color: #979797;
}

.DropDown {
  cursor: pointer;
}

.PastFundraiser:hover {
  color: #1A6BAF;
}

.PastFundraiser:not(:last-child) {
  border-bottom: solid 1px #cecece;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

$Modal-bgColor: #fff;
$Modal-overlayColor: rgba(0, 0, 0, 0.4);
$Modal-borderColor: #f7f7f7;
$Modal-borderWidth: 8px;
$Modal-animation: 300ms cubic-bezier(0.2, 0.8, 0.4, 1.0);

// * Modal Overlay
// *
// * 1. Position overlay so that it covers the viewport
// * 2. Align modal content in the center of the viewport

.Modal {
  display: none;
  position: fixed; // 1
  top: 0px; // 1
  bottom: 0px; // 1
  left: 0px; // 1
  right: 0px; // 1
  background-color: $Modal-overlayColor;
  z-index: 1000;
  justify-content: center; // 2
  align-items: start; // 2
}

.Modal.is-open {
  display: flex; // 2
}

.Modal.is-closing {
  animation: overlayOut $Modal-animation forwards;
}

// * Modal content (the actual modal)
// *
// * 1. Make sure modal is never taller than viewport
// * 2. Allow content to scroll if content is taller than viewport
// * 3. Default to 100% for small screens
// * 4. Default max width (this can be adjusted as necessary at the component level)

.Modal-content {
  margin-top: 10%;
  max-height: 100vh; // 1
  overflow-y: auto; // 2
  width: 100%; // 3
  max-width: 600px; // 4
  background-color: $Modal-bgColor;
  border-radius: 8px;
  border: $Modal-borderWidth solid $Modal-borderColor;
  padding: 24px;
  animation: modalIn $Modal-animation forwards;
}

.Modal-heading {
  font-size: 23px;
  color: #1A6BAF;
  font-family: "MuseoSansRounded700Regular";
  margin-bottom: 24px;
  text-align: center;
}

.Modal-body {}

.Modal-footer {
  margin-top: 32px;
}

.Popup-container--right::before,
.Popup-container--right::after {
  right: 20px;
  @media (min-width: 768px) {
    right: 42px;
  }
}

.ButtonBadge {
  position: absolute;
  top: -4px;
  right: -4px;
  border-radius: 50%;
  background-color: #FF8F00;
  width: 16px;
  height: 16px;
  color: white;
  font-size: 10px;
  text-align: center;
  padding-left: 3.25px;
  padding-top: .5px;
  font-weight: bold;
}

.NewBadge {
  background: #FF8F00;
  padding: 2px 6px;
  color: white;
  font-size:11px;
  border-radius: 2px;
  font-weight: 600;
}

.Piggy {
  width: 40px;
  @media (min-width: 480px) {
    width: 50px;
  }
}

.Toggle--large {
  .Toggle-label {
    height: 20px;
    width: 40px;
  }
  .Toggle-label:after {
    width: 20px;
    height: 20px;
  }
}

.Toggle--noLabel {
  .Toggle-label:before,
  .Toggle-input:checked + .Toggle-label:before
   {
    display: none;
  }
}

@media (min-width: 767px) {
  .Summary {
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media (min-width: 767px) {
  .u-sm-flexOrderLast {
    order: 1;
  }

  .u-sm-borderBottomNone {
    border-bottom: none !important;
  }
}

.RadioButton {
  input {
    display: none;
  }
  label {
    display: block;
    border: #ccc 1px solid;
    border-radius: 4px;
    background: white;
    padding: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
  }
  input:checked + label {
    background: #7fc243;
    color: white;
    border-color: #669b36;
  }
}

@media (min-width: 480px) {
  .u-xs-borderBottomMd {
    border-bottom: solid 2px #e6e6e6 !important;
  }
  .u-xs-borderBottomNone {
    border-bottom: 0 !important;
  }

  .u-xs-borderRadius {
    border-radius: 8px;
  }
}

.Grid--withGutterSmall {
  margin: 0 -4px;
  width: calc(100% + 8px);

  .Grid-cell {
    padding: 0 4px;
  }
}

@media (min-width: 768px) {
  .u-sm-flexAlignSelfCenter {
    align-self: center !important;
  }

  .bgImage {
    background-image: url(/team-store-images/rocket.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}


@media (max-width: 479px) {
  .Panel--hiddenOnSmallestScreens {
    border: 0;
    border-radius: 0;
    background: none;
    background: white;
    padding-bottom: 16px;
    min-height: 100vh;
  }
}

.u-maxWidthMd {
  max-width: 600px;
}

.u-maxWidthLg {
  max-width: 1200px;
}

.ColorBlock {
  width: 40px;
  height: 40px;
  margin-right: 8px;
  border-radius: 2px;
  cursor: pointer;
}

.ColorBlocks {
  margin-left: -5px;
  margin-right: -5px;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(40px, 1fr));

  @media (min-width: 480px) {
    grid-template-columns: repeat(auto-fill,minmax(50px, 1fr));
  }
}

.ColorBlocks.is-hidden {
  display: block;

  .ColorBlocks-block:not(.is-active) {
    display: none;
  }

  .ColorBlocks-block.is-active {
    width: 30px;
    height: 30px;

    @media (min-width: 480px) {
      width: 40px;
      height: 40px;
    }

    &:after {
      display: none;
    }
  }
}

.ColorBlocks-block {
  height: 30px;
  @media (min-width: 480px) {
    height: 40px;
  }
  margin: 6px;
  margin-bottom: 9px;
  border-radius: 2px;
  transition: all ease 200ms;
  position: relative;
  display: block;

  &:hover {
    &::after {
      width: calc(100% + 2px);
    }
  }

  &::after {
    width: 0;
    transform: translateX(-50%);
    background: #7fc243;
    content: "";
    height: 5px;
    left: 50%;
    position: absolute;
    top: calc(100% + 4px);
    transition: width .3s;
  }

  &.is-active {
    &::after {
      width: calc(100% + 2px);
    }
  }
}

.FileRequirements {
  list-style-position: outside;
  padding-left: 16px;

  li {
    list-style-position: outside;
    padding-bottom: 2px;
  }
}

.Checkbox--large {
  .Checkbox-label:before {
    font-size: 12px;
    height: 20px;
    width: 20px;
    line-height: 23px;
  }
  .Checkbox-label {
    padding-left: 28px;
  }
  &.Checkbox--radio .Checkbox-label:before {
    border-radius: 10px;
  }
}

.ConfigLabel {
  width: 65px;
  font-weight: 600;

  @media (min-width: 480px) {
    width: 100px;
  }
}

.Tshirt {
  height: 12rem;

  @media (min-width: 380px) {
    height: 14rem;
  }

  img {
    max-width: 120px;
    padding-top: 32px;
  }

  background: url("/team-store-images/white-tshirt.png");
  background-size: cover;
  border: solid 1px lightgray;
  border-radius: 8px;
}

.LogoUpload {
  border: 2px dashed #d6d6d6;
  border-radius: 8px;
  background: white;
  padding: 24px;
}

.LogoDemo {
  &.is-hidden {
    visibility: hidden;
    height: 0;
  }
}

.SetupSteps {
  @media (max-width: 480px) {
    margin-right: -16px;
    margin-left: -16px;
  }
}




@keyframes modalIn{
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes overlayOut{
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// Hashrocket range slider styles
input[type=range]:focus{outline:none}input[type=range]::-moz-range-track{cursor:pointer;height:.25rem;width:100%}input[type=range]::-ms-track{cursor:pointer;height:.25rem;width:100%}input[type=range]::-webkit-slider-runnable-track{cursor:pointer;height:.25rem;width:100%}input[type=range]::-moz-range-track{background:#1667ac;border-radius:.25rem;overflow:visible}input[type=range]::-moz-range-track:focus{background:#317ab7;outline:none}input[type=range]::-ms-fill-lower{background:#1667ac;border-radius:.25rem;overflow:visible}input[type=range]::-ms-fill-lower:focus{background:#317ab7;outline:none}input[type=range]::-ms-fill-upper{background:#1667ac;border-radius:.25rem;overflow:visible}input[type=range]::-ms-fill-upper:focus{background:#317ab7;outline:none}input[type=range]::-webkit-slider-runnable-track{background:#1667ac;border-radius:.25rem;overflow:visible}input[type=range]::-webkit-slider-runnable-track:focus{background:#317ab7;outline:none}input[type=range]::-ms-tooltip{display:none}input[type=range]::-ms-track{background:transparent;border-color:transparent;border-width:.5rem 0;color:transparent}input[type=range]::-moz-range-thumb{height:1.5rem;width:1.5rem;-webkit-appearance:none;background:#fff;border:.0625rem solid #bcbcbc;box-shadow:0 0 .2rem 0 rgba(0,0,0,.2);border-radius:50%;cursor:pointer;position:relative}input[type=range]::-ms-thumb{height:1.5rem;width:1.5rem;-webkit-appearance:none;background:#fff;border:.0625rem solid #bcbcbc;box-shadow:0 0 .2rem 0 rgba(0,0,0,.2);border-radius:50%;cursor:pointer;position:relative}input[type=range]::-webkit-slider-thumb{height:1.5rem;width:1.5rem;-webkit-appearance:none;background:#fff;border:.0625rem solid #bcbcbc;box-shadow:0 0 .2rem 0 rgba(0,0,0,.2);border-radius:50%;cursor:pointer;position:relative;top:50%;transform:translateY(-50%)}
