---
notes: |
  + When applying to an icon, the Tooltip--icon modifier should be used for the appropriate icon styles.
---

<span class="Tooltip Tooltip--icon" data-tooltip="Tooltips can be applied to multiple elements simply by adding a class and data attribute.">
  {{svg (defaultTo stepIcon "info") class="Icon"}}
</span>
