---
notes: |
  + When applying to a piece of basic text, the Tooltip--text modifier should be used for the appropriate text styles.
---

<span class="Tooltip Tooltip--text" data-tooltip="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ultricies placerat nisi et lobortis. Curabitur laoreet imperdiet odio">Text Based Tooltip</span>
