/**
 * Styles for Documentation
 */

 .doc-Intro {
     border-top: 1px solid #d6d6d6;
     margin-top: 32px;
     padding-top: 32px;
 }

 .doc-Intro-header {
     padding-bottom: 16px;
 }

 .doc-Intro-block {
     padding-top: 8px;
     padding-bottom: 8px;
 }

.doc-IconBox {
    height: 200px;
    width: 100%;
    padding: 16px;
    border: 1px solid #e6e6e6;
    margin-bottom: 16px;
    text-align: center;
    border-radius: 8px;
    background-color: #fdfdfd;
}

.doc-IconBox img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
}

.doc-FontLabel {
    color: #7a7a7a;
    font-family: 'Open Sans', Helvetica, sans-serif;
    display: inline-block;
    width: 40px;
    padding-right: 8px;
    text-align: right;
}
