---
Note: the data attributes may be used outside of our react components to control tab behavior when paired with this https://github.com/teamsnap/classic/blob/master/app/assets/javascripts/new-skin/ts-tabs.js
---

<div class="Tabs">

  <ul class="Tabs-header">
    <li class="Tabs-headerItem" data-control="tab" data-open="section-one" data-group="tab-demo-one" data-default="Tab">Section One</h3>
    <li class="Tabs-headerItem" data-control="tab" data-open="section-two" data-group="tab-demo-one">Section Two</h3>
  </ul>

  <div class="Tabs-content">

    <div class="Tabs-contentItem" data-tab="section-one" data-group="tab-demo-one" data-default="Tab">
      <div class="Panel">
        <div class="Panel-header">
          <h3 class="Panel-title">Section One</h3>
        </div>
        <div class="Panel-body">
          <div class="Panel-row">
            <div class="Grid">
              <div class="Grid-cell u-sizeFit">
                <img src="{{dummyImgSrc 80 80}}">
              </div>
              <div class="Grid-cell u-sizeFill">
                <p class="u-padLeftMd">Bacon ipsum dolor amet swine buffalo shoulder tenderloin, tri-tip ground round shank pork boudin. Ham hock sirloin pancetta swine pork jowl. Alcatra beef jowl beef ribs t-bone ground round tri-tip capicola short ribs rump sausage. Venison meatball tongue tenderloin, cupim corned beef turkey shoulder. Short ribs ham hock cow, meatloaf hamburger tongue buffalo ball tip flank picanha filet mignon shoulder andouille jerky.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="Tabs-contentItem" data-tab="section-two" data-group="tab-demo-one">
      <div class="Panel">
        <div class="Panel-header">
          <h3 class="Panel-title">Section Two</h3>
        </div>
        <div class="Panel-body">
          <div class="Panel-row">
            <div class="Grid">
              <div class="Grid-cell u-sizeFit">
                <img src="{{dummyImgSrc 80 80}}">
              </div>
              <div class="Grid-cell u-sizeFill">
                <p class="u-padLeftMd">Frankfurter bacon capicola cow short loin andouille fatback pork chop boudin biltong. Shankle fatback doner burgdoggen jowl sirloin cupim pork loin alcatra turkey. T-bone tail short ribs kielbasa cow ham hock. Kevin corned beef chicken short ribs tenderloin boudin beef ribs.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="Tabs-contentItem" data-tab="section-three" data-group="tab-demo-one">
      <div class="Panel">
        <div class="Panel-header">
          <h3 class="Panel-title">Section Three</h3>
        </div>
        <div class="Panel-body">
          <div class="Panel-row">
            <div class="Grid">
              <div class="Grid-cell u-sizeFit">
                <img src="{{dummyImgSrc 80 80}}">
              </div>
              <div class="Grid-cell u-sizeFill">
                <p class="u-padLeftMd">Frankfurter bacon capicola cow short loin andouille fatback pork chop boudin biltong. Shankle fatback doner burgdoggen jowl sirloin cupim pork loin alcatra turkey. T-bone tail short ribs kielbasa cow ham hock. Kevin corned beef chicken short ribs tenderloin boudin beef ribs.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
