{{#extend "blank" htmlclass="drizzle-Layout" bodyclass="drizzle-Layout-body"}}
  {{#content "head" mode="append"}}
    <link rel="stylesheet" href="https://aa5498032991a101442c-34c0f4eec246050dfc1ee92670a7b97d.ssl.cf1.rackcdn.com/new-skin/app-team-198f64681d3e8ed17ddaf2fb0cd75c92.css">  
    <link rel="stylesheet" href="{{@root.baseurl}}/assets/drizzle/styles/drizzle.css">
    <link rel="stylesheet" href="{{@root.baseurl}}/assets/toolkit/styles/teamsnap-ui.css">
  {{/content}}
  {{#content "body"}}
    {{> drizzle.nav}}
    <div class="drizzle-Layout-main drizzle-u-cf">
      <div class="drizzle-u-pad drizzle-u-rhythm">
        {{#block "main"}}

        {{/block}}
      </div>
    </div>
  {{/content}}
  {{#content "foot"}}
    <script src="{{@root.baseurl}}/assets/drizzle/scripts/drizzle.js"></script>
    <script src="{{@root.baseurl}}/assets/toolkit/scripts/toolkit.js"></script>
  {{/content}}
{{/extend}}
