{{#extend "default"}}
  {{#content "body"}}
    {{> drizzle.nav-demo}}
    <div class="drizzle-Layout-main">
      <div class="drizzle-u-pad drizzle-u-rhythm">
        {{#block "main"}}

        {{/block}}
      </div>
    </div>
  {{/content}}
{{/extend}}
