---
hidden: true
---

  <div class="Calendar-row Calendar-row--monthHeading">
    <h3 class="Calendar-month">October</h3>
    <button class="Button Button--small Button--paginate"><</button>
    <button class="Button Button--small Button--paginate">></button>
  </div>
  <ul class="Calendar-row Calendar-row--weekHeading">
    <li class="Calendar-cell Calendar-cell--dayHeading" title="Monday"><span>Monday</span></li>
    <li class="Calendar-cell Calendar-cell--dayHeading" title="Tuesday"><span>Tuesday</span></li>
    <li class="Calendar-cell Calendar-cell--dayHeading" title="Wednesday"><span>Wednesday</span></li>
    <li class="Calendar-cell Calendar-cell--dayHeading" title="Thursday"><span>Thursday</span></li>
    <li class="Calendar-cell Calendar-cell--dayHeading" title="Friday"><span>Friday</span></li>
    <li class="Calendar-cell Calendar-cell--dayHeading" title="Saturday"><span>Saturday</span></li>
    <li class="Calendar-cell Calendar-cell--dayHeading" title="Sunday"><span>Sunday</span></li>
  </ul>
  <div class="Calendar-row Calendar-row--week">
    <div class="Calendar-cell">
      <p>1</p>
      <abbr title="Monday">Mon</abbr>
    </div>
    <div class="Calendar-cell">
      <p>2</p>
      <abbr title="Tuesday">Tue</abbr>
    </div>
    <div class="Calendar-cell">
      <p>3</p>
      <abbr title="Wednsday">Wed</abbr>
    </div>
    <div class="Calendar-cell">
      <p>4</p>
      <abbr title="Thursday">Thu</abbr>
    </div>
    <div class="Calendar-cell">
      <p>5</p>
      <abbr title="Friday">Fri</abbr>
    </div>
    <div class="Calendar-cell">
      <p>6</p>
      <abbr title="Saturday">Sat</abbr>
    </div>
    <div class="Calendar-cell">
      <p>7</p>
      <abbr title="Sunday">Sun</abbr>
    </div>
  </div>
  <div class="Calendar-row Calendar-row--week">
    <div class="Calendar-cell">
      <p>8</p>
      <abbr title="Monday">Mon</abbr>
    </div>
    <div class="Calendar-cell">
      <p>9</p>
      <abbr title="Tuesday">Tue</abbr>
    </div>
    <div class="Calendar-cell">
      <p>10</p>
      <abbr title="Wednsday">Wed</abbr>
    </div>
    <div class="Calendar-cell">
      <p>11</p>
      <abbr title="Thursday">Thu</abbr>
    </div>
    <div class="Calendar-cell">
      <p>12</p>
      <abbr title="Friday">Fri</abbr>
    </div>
    <div class="Calendar-cell">
      <p>13</p>
      <abbr title="Saturday">Sat</abbr>
    </div>
    <div class="Calendar-cell">
      <p>14</p>
      <abbr title="Sunday">Sun</abbr>
    </div>
  </div>
  <div class="Calendar-row Calendar-row--week">
    <div class="Calendar-cell">
      <p>15</p>
      <abbr title="Monday">Mon</abbr>
    </div>
    <div class="Calendar-cell">
      <p>16</p>
      <abbr title="Tuesday">Tue</abbr>
    </div>
    <div class="Calendar-cell">
      <p>17</p>
      <abbr title="Wednsday">Wed</abbr>
    </div>
    <div class="Calendar-cell">
      <p>18</p>
      <abbr title="Thursday">Thu</abbr>
    </div>
    <div class="Calendar-cell">
      <p>19</p>
      <abbr title="Friday">Fri</abbr>
    </div>
    <div class="Calendar-cell">
      <p>20</p>
      <abbr title="Saturday">Sat</abbr>
    </div>
    <div class="Calendar-cell">
      <p>21</p>
      <abbr title="Sunday">Sun</abbr>
    </div>
  </div>
  <div class="Calendar-row Calendar-row--week">
    <div class="Calendar-cell">
      <p>22</p>
      <abbr title="Monday">Mon</abbr>
    </div>
    <div class="Calendar-cell">
      <p>23</p>
      <abbr title="Tuesday">Tue</abbr>
    </div>
    <div class="Calendar-cell">
      <p>24</p>
      <abbr title="Wednsday">Wed</abbr>
    </div>
    <div class="Calendar-cell">
      <p>25</p>
      <abbr title="Thursday">Thu</abbr>
    </div>
    <div class="Calendar-cell">
      <p>26</p>
      <abbr title="Friday">Fri</abbr>
    </div>
    <div class="Calendar-cell">
      <p>27</p>
      <abbr title="Saturday">Sat</abbr>
    </div>
    <div class="Calendar-cell">
      <p>28</p>
      <abbr title="Sunday">Sun</abbr>
    </div>
  </div>
  <div class="Calendar-row Calendar-row--week">
    <div class="Calendar-cell">
      <p>29</p>
      <abbr title="Monday">Mon</abbr>
    </div>
    <div class="Calendar-cell">
      <p>30</p>
      <abbr title="Tuesday">Tue</abbr>
    </div>
    <div class="Calendar-cell Calendar-cell--currentDay">
      <p>31</p>
      <abbr title="Wednsday">Wed</abbr>
    </div>
    <div class="Calendar-cell Calendar-cell--nextMonth">
      <p>1</p>
      <abbr title="Thursday">Thu</abbr>
    </div>
    <div class="Calendar-cell Calendar-cell--nextMonth">
      <p>2</p>
      <abbr title="Friday">Fri</abbr>
    </div>
    <div class="Calendar-cell Calendar-cell--nextMonth">
      <p>3</p>
      <abbr title="Saturday">Sat</abbr>
    </div>
    <div class="Calendar-cell Calendar-cell--nextMonth">
      <p>4</p>
      <abbr title="Sunday">Sun</abbr>
    </div>
  </div>