---
notes: |
  Full page responsive calendar component
order: 1
---
<section class="Calendar">
  <div class="Calendar-heading">
    <h2 class="Calendar-title pull-left">Schedule</h2>
      <a class="Button Button--primary pull-left" href="#">{{svg "edit" class="Icon" role="presentation"}} Manage Public Site</a>
      <a class="Button Button--facebook pull-right" href="http://www.facebook.com/sharer.php?s=100&p[url]=https://www.teamsnap.com/teamsites-prototype/&p[title]=Check%20Out%20Our%20Team%20Schedule%20On%20TeamSnap!" target="_blank">{{svg "roster" class="Icon" role="presentation"}} Share Schedule</a>
  </div>
  {{{embed  "patterns.components.calendar.base"}}}
</section>
