---
order: 5
---

<div class="Checkbox Checkbox--inline Checkbox--large Checkbox--colorPrimary">
  <input class="Checkbox-input" type="checkbox" id="checkbox-primary-1" name="checkbox-primary-1">
  <label class="Checkbox-label" for="checkbox-primary-1">Option</label>
</div>
<div class="Checkbox Checkbox--inline Checkbox--large Checkbox--colorPrimary" title="disabled text">
  <input class="Checkbox-input" type="checkbox" id="checkbox-primary-3" name="checkbox-primary-3">
  <label class="Checkbox-label" for="checkbox-primary-3">Option</label>
</div>
<div class="Checkbox Checkbox--inline Checkbox--large Checkbox--colorPrimary">
  <input class="Checkbox-input" type="checkbox" id="checkbox-primary-2" name="checkbox-primary-2" disabled>
  <label class="Checkbox-label" for="checkbox-primary-2">Disabled</label>
</div>
<div class="Checkbox Checkbox--inline Checkbox--large Checkbox--colorPrimary">
  <input class="Checkbox-input" type="checkbox" id="checkbox-primary-4" name="checkbox-primary-2" disabled checked>
  <label class="Checkbox-label" for="checkbox-primary-4">Disabled and Checked</label>
</div>

<div class="Checkbox Checkbox--radio Checkbox--large Checkbox--pill Checkbox--colorPrimary u-spaceTopLg">
  <input class="Checkbox-input" type="radio" id="radio-pill-primary-1" name="radio-pill-primary">
  <label class="Checkbox-label u-fontSizeLg" for="radio-pill-primary-1">Pill Large</label>
</div>
<div class="Checkbox Checkbox--radio Checkbox--pill Checkbox--colorPrimary">
  <input class="Checkbox-input" type="radio" id="radio-pill-primary-2" name="radio-pill-primary">
  <label class="Checkbox-label" for="radio-pill-primary-2">Pill Small</label>
</div>

<div class="">
  <div class="Checkbox Checkbox--radio Checkbox--large Checkbox--colorPrimary">
    <input class="Checkbox-input" type="radio" id="radio-primary-1" name="radio-primary">
    <label class="Checkbox-label" for="radio-primary-1">Radio Option</label>
  </div>
  <div class="Checkbox Checkbox--radio Checkbox--large Checkbox--colorPrimary">
    <input class="Checkbox-input" type="radio" id="radio-primary-2" name="radio-primary">
    <label class="Checkbox-label" for="radio-primary-2">Radio Option</label>
  </div>
  <div class="Checkbox Checkbox--radio Checkbox--large Checkbox--colorPrimary" title="disabled text">
    <input class="Checkbox-input" type="radio" id="radio-primary-3" name="radio-primary" disabled>
    <label class="Checkbox-label" for="radio-primary-3">Disabled<label>
  </div>
  <div class="Checkbox Checkbox--radio Checkbox--large Checkbox--colorPrimary" title="disabled text">
    <input class="Checkbox-input" type="radio" id="radio-primary-4" name="radio-primary-disabled-checked" disabled checked>
    <label class="Checkbox-label" for="radio-primary-4">Disabled and Checked<label>
  </div>
</div>
