---
order: 1
---
<div class="Checkbox">
  <input class="Checkbox-input" type="checkbox" id="checkbox-1" name="checkbox-1" checked>
  <label class="Checkbox-label" for="checkbox-1">Checkbox</label>
</div>
<div class="Checkbox">
  <input class="Checkbox-input" type="checkbox" id="checkbox-2" name="checkbox-2">
  <label class="Checkbox-label" for="checkbox-2">Checkbox</label>
</div>
<div class="Checkbox">
  <input class="Checkbox-input" type="checkbox" id="checkbox-3" name="checkbox-3" disabled>
  <label class="Checkbox-label" for="checkbox-3">Disabled</label>
</div>
<div class="Checkbox">
  <input class="Checkbox-input" type="checkbox" id="checkbox-4" name="checkbox-4" disabled checked>
  <label class="Checkbox-label" for="checkbox-4">Disabled and Checked</label>
</div>
