<div class="Checkbox Checkbox--inline">
  <input class="Checkbox-input" type="checkbox" id="checkbox-inline-1" name="checkbox-inline-1">
  <label class="Checkbox-label" for="checkbox-inline-1">Option</label>
</div>
<div class="Checkbox Checkbox--inline">
  <input class="Checkbox-input" type="checkbox" id="checkbox-inline-2" name="checkbox-inline-2">
  <label class="Checkbox-label" for="checkbox-inline-2">Option</label>
</div>
<div class="Checkbox Checkbox--inline" title="disabled text">
  <input class="Checkbox-input" type="checkbox" id="checkbox-inline-3" name="checkbox-inline-3" disabled>
  <label class="Checkbox-label" for="checkbox-inline-3">Option</label>
</div>
