---
order: 3
---

<div class="Checkbox Checkbox--inline Checkbox--large">
  <input class="Checkbox-input" type="checkbox" id="checkbox-inline-large-1" name="checkbox-inline-large-1" checked>
  <label class="Checkbox-label" for="checkbox-inline-large-1">Checkbox</label>
</div>
<div class="Checkbox Checkbox--inline Checkbox--large" title="disabled text">
  <input class="Checkbox-input" type="checkbox" id="checkbox-inline-large-3" name="checkbox-inline-large-3">
  <label class="Checkbox-label" for="checkbox-inline-large-3">Checkbox</label>
</div>
<div class="Checkbox Checkbox--inline Checkbox--large">
  <input class="Checkbox-input" type="checkbox" id="checkbox-inline-large-2" name="checkbox-inline-large-2" disabled>
  <label class="Checkbox-label" for="checkbox-inline-large-2">Disabled</label>
</div>
<div class="Checkbox Checkbox--inline Checkbox--large">
  <input class="Checkbox-input" type="checkbox" id="checkbox-inline-large-4" name="checkbox-inline-large-2" disabled checked>
  <label class="Checkbox-label" for="checkbox-inline-large-4">Disabled and Checked</label>
</div>

<div class="u-spaceTopXl">
  <div class="Checkbox Checkbox--radio Checkbox--large">
    <input class="Checkbox-input" type="radio" id="radio-large-1" name="radio-large" checked>
    <label class="Checkbox-label" for="radio-large-1">Radio Option</label>
  </div>
  <div class="Checkbox Checkbox--radio Checkbox--large">
    <input class="Checkbox-input" type="radio" id="radio-large-2" name="radio-large">
    <label class="Checkbox-label" for="radio-large-2">Radio Option</label>
  </div>
  <div class="Checkbox Checkbox--radio Checkbox--large" title="disabled text">
    <input class="Checkbox-input" type="radio" id="radio-large-3" name="radio-large" disabled>
    <label class="Checkbox-label" for="radio-large-3">Disabled<label>
  </div>
  <div class="Checkbox Checkbox--radio Checkbox--large" title="disabled text">
    <input class="Checkbox-input" type="radio" id="radio-large-4" name="radio-large-disabled-checked-1" disabled checked>
    <label class="Checkbox-label" for="radio-large-4">Disabled and Checked<label>
  </div>
</div>
