---
order: 4
---

<div class="Checkbox Checkbox--radio Checkbox--large Checkbox--pill">
  <input class="Checkbox-input" type="radio" id="radio-pill-1" name="radio-pill">
  <label class="Checkbox-label u-fontSizeLg" for="radio-pill-1">Pill Large</label>
</div>
<div class="Checkbox Checkbox--radio Checkbox--pill">
  <input class="Checkbox-input" type="radio" id="radio-pill-2" name="radio-pill">
  <label class="Checkbox-label" for="radio-pill-2">Pill Small</label>
</div>
