---
order: 4
---

<div class="Checkbox Checkbox--radio Checkbox--pill">
  <input class="Checkbox-input" type="radio" id="radio-pill-2" name="radio-pill">
  <label class="Checkbox-label" for="radio-pill-2">Pill Radio Default</label>
</div>
<div class="Checkbox Checkbox--pill">
  <input class="Checkbox-input" type="checkbox" id="radio-pill-3" name="radio-pill">
  <label class="Checkbox-label" for="radio-pill-3">Pill Checkbox Default</label>
</div>
<div class="Checkbox Checkbox--radio Checkbox--large Checkbox--pill">
  <input class="Checkbox-input" type="radio" id="radio-pill-1" name="radio-pill">
  <label class="Checkbox-label u-fontSizeLg" for="radio-pill-1">Pill Radio Large</label>
</div>
<div class="Checkbox Checkbox--pill Checkbox--large">
  <input class="Checkbox-input" type="checkbox" id="radio-pill-4" name="radio-pill">
  <label class="Checkbox-label" for="radio-pill-4">Pill Checkbox Large</label>
</div>
