---
notes: |
  + Select box states are based of the status of the input checked and disabled.
---

<div class="Checkbox">
  <input class="Checkbox-input" type="checkbox" id="checkbox-state-1" name="checkbox-state-1">
  <label class="Checkbox-label" for="checkbox-state-1">Not Checked</label>
</div>
<div class="Checkbox">
  <input class="Checkbox-input" type="checkbox" id="checkbox-state-2" name="checkbox-state-2">
  <label class="Checkbox-label" for="checkbox-state-2">Checked</label>
</div>
<div class="Checkbox" title="disabled text">
  <input class="Checkbox-input" type="checkbox" id="checkbox-state-3" name="checkbox-state-3" disabled>
  <label class="Checkbox-label" for="checkbox-state-3">Disabled, Not Checked</label>
</div>
<div class="Checkbox" title="disabled text">
  <input class="Checkbox-input" type="checkbox" id="checkbox-state-4" name="checkbox-state-4" disabled checked>
  <label class="Checkbox-label" for="checkbox-state-4">Disabled, Checked</label>
</div>
