---
notes: |
  Apply text styling properties with these classes:

  + `u-textCenter`: Applies `text-align: center`
  + `u-textLeft`: Applies `text-align: left`
  + `u-textRight`: Applies `text-align: right`
  + `u-textNoWrap`:  Applies `white-space: nowrap` to ensure text does not break into two lines
  + `u-textEllipsis`:  Applies `text-overflow: ellipsis` and `overflow: hidden;` to crop text if it has to break to a second line
sourceless: true
---

<p class="u-textEllipsis u-textNoWrap u-size8of24">Bacon ipsum dolor amet tongue turducken chuck kevin, corned beef bresaola picanha tenderloin leberkas meatball.</p>