---
title: Alignment and Wrapping
order: 2
notes: |
  Apply text styling properties with these classes:

  + `u-textCenter`: Applies `text-align: center`
  + `u-textLeft`: Applies `text-align: left`
  + `u-textRight`: Applies `text-align: right`
  + `u-textNoWrap`:  Applies `white-space: nowrap` to ensure text does not break into two lines
  + `u-textEllipsis`:  Applies `text-overflow: ellipsis` and `overflow: hidden;` to crop text if it has to break to a second line
sourceless: true
---

<p class="u-textEllipsis u-textNoWrap u-size1of3">Text that will be cut short with an ellipsis using u-textEllipsis and u-textNoWrap</p>

<p class="u-textCenter">Centered text.</p>
<p class="u-textRight">Right-aligned text.</p>
