---
notes: |
  Text decoration classes for giving an underline or strike through

  Classes:
  - `u-textUnderline`
  - `u-textLineThrough`
sourceless: true
---

<p class="u-textUnderline">Underline</p>
<p class="u-textLineThrough">Line Through</p>