---
order: 3
notes: |
  Text decoration classes for giving an underline or strike through.

  Classes:
  - `u-textUnderline`
  - `u-textLineThrough`
  - `u-textDecorationNone`
sourceless: true
---

<p class="u-textUnderline">Underline</p>
<p class="u-textLineThrough">Line Through</p>
<p class="u-textDecorationNone">No decoration</p>
