---
notes: |
  Font size classes that correspond to our font scale.

  Classes:
  - `u-fontSizeXs`
  - `u-fontSizeSm`
  - `u-fontSizeBase`
  - `u-fontSizeLg`
  - `u-fontSizeXl`
  - `u-fontSizeXxl`
sourceless: true
---

<p class="u-fontSizeXs">Extra-Small</p>
<p class="u-fontSizeSm">Small</p>
<p class="u-fontSizeBase">Base</p>
<p class="u-fontSizeLg">Large</p>
<p class="u-fontSizeXl">Extra-Large</p>
<p class="u-fontSizeXxl">Extra-Extra-Large</p>
