---
notes: |
  Text weight classes for our primary font weights. Note, can't be applied to Museo Fonts

  Classes:
  - `u-textNormal`
  - `u-textSemiBold`
  - `u-textBold`
sourceless: true
---

<p class="u-textNormal">Normal</p>
<p class="u-textSemiBold">Semi Bold</p>
<p class="u-textBold">Bold</p>