---
order: 1
---

<div class="u-padBottomMd">
  <div class="ProgressBar ProgressBar--xlarge">
    <div class="ProgressBar-status" style="width: 25%;"></div>
  </div>
</div>

<div class="u-padBottomMd">
  <div class="ProgressBar ProgressBar--large">
    <div class="ProgressBar-status" style="width: 35%;"></div>
  </div>
</div>

<div class="u-padBottomMd">
  <div class="ProgressBar">
    <div class="ProgressBar-status" style="width: 45%;"></div>
  </div>
</div>

<div class="u-padBottomMd">
  <div class="ProgressBar ProgressBar--small">
    <div class="ProgressBar-status" style="width: 55%;"></div>
  </div>
</div>

<div class="u-padBottomMd">
  <div class="ProgressBar ProgressBar--xsmall">
    <div class="ProgressBar-status" style="width: 65%;"></div>
  </div>
</div>
