---
order: 3
---

<div class="Grid Grid--withGutter" style="height: 200px;">
  <div class="Grid-cell u-sizeFit">

      <div class="ProgressBar ProgressBar--vertical ProgressBar--precise ProgressBar--xlarge">
        <div class="ProgressBar-status" style="height: 65%;"></div>
      </div>

  </div>
  <div class="Grid-cell u-sizeFill">

    <div class="ProgressBar ProgressBar--precise ProgressBar--xlarge">
      <div class="ProgressBar-status" style="width: 65%;"></div>
    </div>

  </div>
</div>
