---
order: 4
---

<div class="Grid Grid--withGutter" style="height: 200px;">
  <div class="Grid-cell u-sizeFit">

      <div class="ProgressBar ProgressBar--vertical ProgressBar--neutral">
        <div class="ProgressBar-status" style="height: 25%;"></div>
      </div>

  </div>
  <div class="Grid-cell u-sizeFit">

      <div class="ProgressBar ProgressBar--vertical ProgressBar--negative">
        <div class="ProgressBar-status" style="height: 50%;"></div>
      </div>

  </div>
  <div class="Grid-cell u-sizeFit">

      <div class="ProgressBar ProgressBar--vertical">
        <div class="ProgressBar-status" style="height: 75%;"></div>
      </div>

  </div>
  <div class="Grid-cell u-sizeFill">

    <div class="u-padBottomMd">
      <div class="ProgressBar ProgressBar--neutral">
        <div class="ProgressBar-status" style="width: 25%;"></div>
      </div>
    </div>

    <div class="u-padBottomMd">
      <div class="ProgressBar ProgressBar--negative">
        <div class="ProgressBar-status" style="width: 50%;"></div>
      </div>
    </div>

    <div class="u-padBottomMd">
      <div class="ProgressBar">
        <div class="ProgressBar-status" style="width: 75%;"></div>
      </div>
    </div>

  </div>
</div>
