---
title: Responsive Account Teams Prototype
notes: This example demonstrates the use of responsive panels/tables.
layout: blank
---

<h1 class="u-textCenter u-pad">{{title}}</h1>

<div class="Grid Grid--alignCenter">
  <div class="Panel u-size16of24 u-padLg">
    <div class="Grid Grid--alignCenter">
      <div class="Grid-cell Grid-cell--center u-textCenter u-pad">
        <img src="http://marketing-cdn.teamsnap.com/Logogradientemail.png">
      </div>
      <div class="Grid-cell Grid-cell--center u-textCenter u-padLg">
        <a href="">My Teams</a> | <a href="#">Sign Out</a>
      </div>
      <div class="Grid-cell Grid-cell--center u-textCenter">
        <h2>My Account</h2>
      </div>
      <div class="Grid-cell Grid-cell--center u-textCenter u-padMd">
        <div class="ButtonGroup">
          <button class="Button ss-settings"><span class="u-sm-inlineBlock u-hidden">Account</span> Settings</button>
          <button class="Button ss-businessuser"><span class="u-hidden u-md-inlineBlock">Manage My</span> Teams</button>
          <button class="Button ss-creditcard"><span class="u-hidden u-md-inlineBlock">Team Billing &</span> Plans</button>
        </div>
      </div>
      <div class="Grid-cell Grid-cell--center u-textCenter">
        <label class="SelectBox u-md-hidden u-spaceBottomSm u-size16of24" for="select-1">
        <select class="SelectBox-options" name="select-1" id="select-1">
          <option value="">Team 1</option>
          <option value="">Team 2</option>
          <option value="">Team 3</option>
          <option value="">Team 4</option>
          <option value="">Team 5</option>
          <option value="">Team 6</option>
          <option value="">Team 7</option>
          <option value="">Team 8</option>
          <option value="">Team 9</option>
          <option value="">Team 10</option>
        </select>
      </label>
      </div>
      <div class="Panel Panel--smMax-stacked">
        <div class="Panel-header u-flex u-flexJustifyBetween u-flexAlignItemsCenter">
          <h3 class="u-flexGrow1 Panel-title">Manage My Teams</h3>
        </div>
        <div class="Panel-body">
          <div class="Panel-row u-padNone Grid">
            <div class="Panel-cell Panel-cell--header Grid-cell u-md-size1of4 u-hidden u-md-inlineBlock">
              <ul>
                <li>Team 1</li>
                <li>Team 2</li>
                <li>Team 3</li>
                <li>Team 4</li>
                <li>Team 5</li>
                <li>Team 6</li>
                <li>Team 7</li>
                <li>Team 8</li>
                <li>Team 9</li>
                <li>Team 10</li>
              </ul>
            </div>
            <div class="Panel-cell Grid-cell u-md-size3of4">
              <div class="Panel Panel--smMax-stacked">
                <div class="Panel-header u-flex u-flexJustifyBetween u-flexAlignItemsCenter">
                  <h3 class="u-flexGrow1 Panel-title">Team Name #</h3>
                </div>
                <div class="Panel-body">
                  <div class="Panel-row u-padNone Grid">
                    <div class="Panel-cell Panel-cell--header Grid-cell u-md-size1of4">
                      <h4 class="u-spaceBottomNone">
                        My Role:
                      </h4>
                    </div>
                    <div class="Panel-cell Grid-cell u-md-size3of4">
                      <p class="u-spaceBottomNone">
                        Manager
                      </p>
                    </div>
                  </div>
                  <div class="Panel-row u-padNone Grid">
                    <div class="Panel-cell Panel-cell--header Grid-cell u-md-size1of4">
                      <h4 class="u-spaceBottomNone">
                        Name on Roster:
                      </h4>
                    </div>
                    <div class="Panel-cell Grid-cell u-md-size3of4">
                      <p class="u-spaceBottomNone">
                        Manny Manager
                      </p>
                    </div>
                  </div>
                  <div class="Panel-row u-padNone Grid">
                    <div class="Panel-cell Panel-cell--header Grid-cell u-md-size1of4">
                      <h4 class="u-spaceBottomNone">
                        Leave Team:
                      </h4>
                    </div>
                    <div class="Panel-cell Grid-cell u-md-size3of4">
                      <p class="u-spaceBottomNone">
                        If you leave this team, all your data will be erased, such as availability, email history, payment information, and stats. You and your family members will not have access to the team.
                      </p>
                      <button class="Button ss-delete">Leave this Team</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div> 
</div>

