---
title: Jello Loader | Full Page Loading Screen
notes: This example demonstrates the use of jello loader as a full page transition. For example, Rosetta's loading screen as games are being scheduled by Fanapp and sent back to TeamSnap.
layout: blank
styles:
  - demo-4
---

<h1>{{title}}</h1>

<div class="main-container">

  <div class="PageLoader PageLoader--jello PageLoader--centered">

    <div class="PageLoader-indicator">

      <span class="PageLoader-indicatorAnimation JelloAnimation">
        <span class="JelloAnimation-shadow"></span>
        <span class="JelloAnimation-box"></span>
      </span>

      <div class="PageLoader-indicatorText">Scheduling Games..</div>

    </div>

    <hr class="Divider Divider--indented" />

    <div class="PageLoader-message">Nice Shirt! Is that Valour?</div>

  </div>

</div>
