---
title: Donation Success Page
notes: Confirmation screen with donation receipt.
layout: demo-clean
labels:
  - inprogress
  - prototype
order: -9
styles:
  - donate
scripts:
 - donate
---

<div class="u-textCenter u-padSm u-borderBottom u-xs-hidden">
  {{> promo-partials.teamsnap-logo}}
</div>

<div class="u-flexExpand u-padMd u-sm-padSidesLg" style="max-width: 1050px;">
  <div class="u-flex u-flexAlignItemsCenter">
    <div class="u-hidden u-xs-block">{{> team-store-partials.teamsnap-mark}}</div>
    <h1 class="u-spaceBottomNone u-xs-spaceLeftSm u-sizeFill u-colorNavy" style="line-height: 1.2">Sports Organization Name</h1>
  </div>
</div>

<div class="DonationHeader" style="background: #0F3458;">
  <div class="u-flexExpand u-padMd u-sm-padLg" style="max-width: 1050px;">
    <h1 class="u-colorForeground u-spaceBottomNone u-textCenter" style="font-size: 32px">Thank you for your contribution.</h1>
  </div>
</div>

<div class="DonationContent">
  <div class="u-flexExpandSides u-padSidesMd u-sm-padSidesLg" style="max-width: 600px;">
    <div class="Panel Panel--fullWidthMobile u-padMd u-xs-padLg u-sm-padXl">
      <div class="js-donateSuccess">
        <div class="SummaryList u-fontSizeLg u-colorNavy u-flexExpandSides" style="max-width: 600px">
          <h3 class="SummaryList-heading u-fontSizeXl u-colorNavy">Donation Summary</h3>
          <ul class="SummaryList-section">
            <li class="SummaryList-item">
              <span>Date</span>
              <span>MM/DD/YYYY</span>
            </li>
            <li class="SummaryList-item">
              <span>Donation Amount</span>
              <span>$50.00</span>
            </li>
            <li class="SummaryList-item">
              <span>Name</span>
              <span>First Last</span>
            </li>
            <li class="SummaryList-item">
              <span>Email</span>
              <span>firstlast@gmail.com</span>
            </li>
            <li class="SummaryList-item">
              <span>Credit Card</span>
              <span>Ends in 1234</span>
            </li>
            <li class="SummaryList-item">
              <span>Organization</span>
              <span>Organization Name</span>
            </li>
          </ul>
        </div>
        <div class="u-textCenter u-spaceBottomLg u-spaceEndsLg u-flexExpandSides" style="max-width: 600px">
          <a href="javascript:window.print()" class="Button Button--primary Button--donate u-sizeFull u-sm-size1of2 PrintButton">
          Print Receipt</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="u-textCenter u-spaceEndsLg u-padSidesMd">
  <p>Copyright © 2020 TeamSnap &amp; <span class="u-textNoWrap">Organization Name</span></p>
  <svg class="u-spaceTopSm" width="100" fill="#0e3457" id="powered_by_logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 571.74 187.87">
    <title>powered-by-logo</title><path class="cls-1" d="M242.14,56.07h5.1v2.46a20.36,20.36,0,0,1-.11,2.12h0.11s2.46-5.27,9.73-5.27c7.79,0,12.71,6.18,12.71,15.17,0,9.22-5.55,15.17-13.11,15.17A10.08,10.08,0,0,1,247.7,81h-0.11s0.11,1,.11,2.52v13h-5.55V56.07ZM255.71,81c4.58,0,8.36-3.78,8.36-10.36,0-6.3-3.38-10.36-8.19-10.36-4.35,0-8.36,3-8.36,10.42C247.52,75.82,250.39,81,255.71,81Z" transform="translate(-21.26 -23.79)"></path><path class="cls-1" d="M290,55.38c8.65,0,15.63,6.35,15.63,15.11s-7,15.23-15.63,15.23-15.63-6.41-15.63-15.23S281.36,55.38,290,55.38Zm0,25.53c5.5,0,10-4.35,10-10.42a10,10,0,1,0-19.92,0A10,10,0,0,0,290,80.91Z" transform="translate(-21.26 -23.79)"></path><path class="cls-1" d="M308.84,56.07h5.9l6,20.32c0.46,1.49.69,3.09,0.74,3.09h0.11a30.13,30.13,0,0,1,.74-3.09l6.3-20.27h5.1L340,76.39c0.46,1.49.8,3.09,0.8,3.09h0.12a23.27,23.27,0,0,1,.69-3.09l6.07-20.32h5.84l-9.33,29H338l-6-18.61c-0.46-1.49-.8-3.15-0.8-3.15h-0.11s-0.34,1.66-.8,3.15l-6,18.61h-6.18Z" transform="translate(-21.26 -23.79)"></path><path class="cls-1" d="M371.31,55.38c8.19,0,12.54,6.07,12.54,13.57,0,0.74-.17,2.4-0.17,2.4H362.55c0.29,6.35,4.81,9.56,10,9.56a13.81,13.81,0,0,0,8.59-3.38l2.29,4.06a17.25,17.25,0,0,1-11.22,4.12c-9.1,0-15.34-6.58-15.34-15.17C356.82,61.33,363.06,55.38,371.31,55.38Zm6.87,11.79c-0.17-5-3.26-7.39-7-7.39-4.24,0-7.67,2.63-8.47,7.39h15.46Z" transform="translate(-21.26 -23.79)"></path><path class="cls-1" d="M390.6,56.07H396v5a20.82,20.82,0,0,1-.11,2.18H396c1.32-4.24,4.7-7.56,9.16-7.56a9.85,9.85,0,0,1,1.43.11v5.5a8,8,0,0,0-1.6-.17c-3.55,0-6.81,2.52-8.13,6.81a17.6,17.6,0,0,0-.69,5.21V85H390.6v-29Z" transform="translate(-21.26 -23.79)"></path><path class="cls-1" d="M424.38,55.38c8.19,0,12.54,6.07,12.54,13.57,0,0.74-.17,2.4-0.17,2.4H415.62c0.29,6.35,4.81,9.56,10,9.56a13.81,13.81,0,0,0,8.59-3.38l2.29,4.06a17.25,17.25,0,0,1-11.22,4.12c-9.1,0-15.34-6.58-15.34-15.17C409.9,61.33,416.14,55.38,424.38,55.38Zm6.87,11.79c-0.17-5-3.26-7.39-7-7.39-4.24,0-7.67,2.63-8.47,7.39h15.46Z" transform="translate(-21.26 -23.79)"></path><path class="cls-1" d="M454.9,55.38c6.7,0,8.93,4.58,8.93,4.58h0.12a16.3,16.3,0,0,1-.12-1.95V44.62h5.55V85h-5.27V82.29c0-1.15.06-1.95,0.06-1.95h-0.11s-2.35,5.38-9.5,5.38c-7.84,0-12.77-6.18-12.77-15.17C441.79,61.33,447.23,55.38,454.9,55.38Zm0.74,25.53c4.29,0,8.36-3,8.36-10.42,0-5.15-2.69-10.31-8.19-10.31-4.58,0-8.36,3.78-8.36,10.36C447.46,76.85,450.83,80.91,455.64,80.91Z" transform="translate(-21.26 -23.79)"></path><path class="cls-1" d="M492.8,44.62h5.55V57.84c0,1.43-.11,2.46-0.11,2.46h0.11s2.46-4.92,9.27-4.92c7.79,0,12.71,6.18,12.71,15.17,0,9.22-5.55,15.17-13.17,15.17a10.42,10.42,0,0,1-9.1-5H498a19.48,19.48,0,0,1,.11,2.18V85H492.8V44.62ZM506.37,81c4.58,0,8.36-3.78,8.36-10.36,0-6.3-3.38-10.36-8.19-10.36-4.35,0-8.36,3-8.36,10.42C498.18,75.82,500.88,81,506.37,81Z" transform="translate(-21.26 -23.79)"></path><path class="cls-1" d="M525,91a6.46,6.46,0,0,0,3.38,1.2c2.23,0,4.12-1.6,5.21-4.24l1.43-3.32L522.92,56.07h6.24l7.27,19c0.57,1.49,1.09,3.49,1.09,3.49h0.11s0.46-1.95,1-3.43l7-19h6L538.09,90.25c-1.78,4.47-5.32,6.81-9.39,6.81a10.14,10.14,0,0,1-5.61-1.77Z" transform="translate(-21.26 -23.79)"></path><g id="_Group_" data-name="<Group>"><path class="cls-1" d="M115.19,23.79a93.93,93.93,0,1,1-93.93,93.93A93.93,93.93,0,0,1,115.19,23.79Zm59.52,92.78-8.42-29.63q-12.65,4.74-27.64,11.43-11,5.07-14.21,6.38,4.4-32.25,4.4-44.53h-29q0,17.11,3.91,44.19A254.68,254.68,0,0,0,65.83,85.2l-10.17,29q4.42,1.62,18.39,5,19.36,4.68,23.46,5.32c-0.87.88-3,3-6.36,6.27Q78.45,143,66.71,156.34l24.69,18.87q12.84-19.93,22.78-37.57l21.94,37,25.26-16.56Q157.9,153.79,152,147l-19.72-22.41Q156.39,120.66,174.72,116.57Z" transform="translate(-21.26 -23.79)"></path></g><path class="cls-1" d="M249.79,130.15c-0.15,3.15-.31,10.53-0.31,11.48-0.16,4.24-.16,21.69,0,32.69,0.16,6.13,1.57,10.38,7.7,13.83,0,0-3.46,5-4.72,6.92-9.12-5-11.31-12.58-11.31-21.38V148.85c0-7.39-.16-13.36,0-18.23-1.89-.63-5.18-0.79-7.86-0.95,0.16-2,.16-4.87.47-6.91a62.2,62.2,0,0,0,8.33-.63,16.06,16.06,0,0,1,0-3.93c0.15-5,.32-7.39.63-11,0,0,7.07-2.36,8.49-3.3-0.31,3.77-.63,11.78-0.94,19,4.24-.16,9.43-0.79,11.94-0.79a69.62,69.62,0,0,0,.16,7.54c-1.88-.31-10.06.47-12.57,0.47" transform="translate(-21.26 -23.79)"></path><path class="cls-1" d="M289.24,190.5c-5.5,0-12.89-4.09-16.81-9.59-4.4-6.29-6.76-14.93-6.76-27,0-25.14,10.06-34.73,22.79-34.73,12.1,0,16.66,16.51,17.29,34.58-12.42,1.1-27.82,2.35-31.43,2,0.47,8.49,1.26,14.3,3.77,19.17,2.67,4.72,8,7.86,11.63,7.86s11.94-1.88,14.62-3.61a24.57,24.57,0,0,0,2.83,5.18c-1.57,2.52-13.2,6.13-17.92,6.13m-2.67-63.65c-5.19,0-12.42,7.54-11.95,21.53a51.88,51.88,0,0,0,11-.31c4.4-.47,9.28-1.1,11.16-1.42-1.26-11.47-3-19.8-10.21-19.8" transform="translate(-21.26 -23.79)"></path><path class="cls-1" d="M340.94,197.1c0-2.19-1.1-11.16-1.41-14.3-3.46,3.61-10.69,10.22-18.7,10.22-4.87,0-12.73-6.44-12.73-21.69,0-5.81,3.14-14.62,9.43-18.08,10.53-5.66,18.54-7.54,22.32-9.11,0.16-7.86-.47-12.89-4.71-14.93a31.8,31.8,0,0,0-13.83-3.15s0.47-7.07.47-8.48c5.35,0.63,16.66,2.67,20.59,5.34,4.09,2.51,5.34,10.22,5.34,13.52,0,1.1.15,25.14,0.15,41.33a150.83,150.83,0,0,0,1.1,17.29c-2.67.63-5.82,1.41-8,2M325.07,158c-4.08,2.2-9,6-9,11.47,0,11,2.67,14.77,7.54,14.77,4.71,0,11.63-6.29,15.71-10.53,0.47-1.41.47-18.7,0.47-21.84A135.9,135.9,0,0,0,325.07,158" transform="translate(-21.26 -23.79)"></path><path class="cls-1" d="M419.2,189.08c-0.94.16-5.35,0.79-8.64,1.1,0.31-4.71.47-12.1,0.47-15.24V139.58c0-6.91.16-10.68-3.62-10.68-4.55,0-13.83,8-15.87,10.21,0.31,4.71.31,48.09,0.47,50.29H382.9c0.47-1.1.79-10.06,0.79-10.85,0-4.24-.63-36.62-0.63-40.7,0-9.28-.79-10.22-6.44-10.22-4.24,0-10.38,2.83-12.89,4.25,0,3.61-.31,50.29-0.31,60.35a41.66,41.66,0,0,0-8-1.57c0.16-4.25.32-23.42,0.32-24.83l0.16-48.09c2.36,0.47,5.34,1.25,7.07,1.1,0,0,.47,3.93.95,5.66,5.66-2.83,12.73-4.87,18.07-4.87a8.05,8.05,0,0,1,8.17,6.28,21,21,0,0,1,.79,5c4.87-4.56,12.89-10.37,18.39-10.37,7.86,0,10.06,6.13,10.06,17.13Z" transform="translate(-21.26 -23.79)"></path><path class="cls-1" d="M432.69,192.68a82.66,82.66,0,0,0-.11-11.38c9.78,0,15.41-3.51,15.41-8.18,0-5.53-4.56-11.8-7.86-16.37-4.68-6.06-9.15-12.86-9.15-20.2,0-13.07,9.26-18.07,27.86-18.07a55.55,55.55,0,0,0-.11,10.31c-9.89.21-16,2-16,6.59s0.86,5.53,7.34,15.2c4.46,6.38,9.35,13.72,9.35,21.05,0,13.18-6.48,18.92-26.78,21" transform="translate(-21.26 -23.79)"></path><path class="cls-1" d="M495,189.17c-1.69-6.16-13-32.1-16.79-40.61-0.22,3-.11,8.18-0.11,11.8-0.11,10.85.11,29.56,0.11,29.56a87.41,87.41,0,0,0-12.33-1.59c0.42-5.42,1.59-22.86,1.7-36.57,0.11-11.91-.53-26.68-0.63-32.1a64.68,64.68,0,0,0,10.31-.86c0.53,3.73,11.8,30,17.12,40.72,0-2.87.32-19.14-.11-28.38a76.93,76.93,0,0,0-1-10.42,68.69,68.69,0,0,0,11.8-1.49v70.7c-4-.32-6.81-0.43-10.11-0.75" transform="translate(-21.26 -23.79)"></path><path class="cls-1" d="M540.8,192.36c-0.43-3.94-2.45-10.63-3-14.67a15.55,15.55,0,0,1-.22-2.13l-13.39.64c-0.52,3-2.55,12.76-3,16.05a89.24,89.24,0,0,0-11.05-4c1.06-4.35,8.4-35.82,11.8-57.94,0.53-3.51,1.49-8.61,1.49-10.42,2.55-.32,9.14-0.74,11.48-1.17,0.84,3.83,16.16,66.13,17.33,70.91-2.87.53-8.29,1.8-11.48,2.76M530,139c-0.74,5.42-3.61,23.92-4.14,27.11,1.92-.32,7.23-0.21,9.46-0.53-0.85-4-4.15-21.47-5.32-26.58" transform="translate(-21.26 -23.79)"></path><path class="cls-1" d="M569.19,162.81c0,8,.1,18.5.74,24.56a105.34,105.34,0,0,1-12.22,3.19c0-8.61.32-27.12,0-45.29-0.22-9.14-1-21.26-1.8-24.66a45.17,45.17,0,0,1,10.52-1.49c14.46-.53,26.58,4.25,26.58,21.26,0,9.25-10.52,21.37-23.81,22.43m-0.64-33.49c0.1,3,.31,7.76.42,11.7,0.11,3.09.32,8.4,0.32,11.37a12.75,12.75,0,0,0,11.91-12.65c0-7.87-4.47-10.42-12.65-10.42" transform="translate(-21.26 -23.79)"></path>
  </svg>
</div>


<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>
