---
title: Panel with Form Demo
notes: This example demonstrates the use of form elements within a panel and general layout. Also the .main-container div isn't needed within production, just here to recreate some spacing issues and resolve Classic CSS conflicts.
layout: blank
---

<h1>{{title}}</h1>

<div class="main-container">

  <form class="Panel">
    <h3 class="Panel-header">Batch Filters</h3>
    <div class="Panel-body">

      <div class="Panel-row Grid">
        <div class="u-xs-size1of3">
          <div class="Checkbox Checkbox--radio Checkbox--inline">
            <input class="Checkbox-input" type="radio" id="radio-1" name="radio-1">
            <label class="Checkbox-label" for="radio-1">Radio Option</label>
          </div>
          <div class="Checkbox Checkbox--radio Checkbox--inline">
            <input class="Checkbox-input" type="radio" id="radio-2" name="radio-2">
            <label class="Checkbox-label" for="radio-2">Radio Option</label>
          </div>
          <div class="Checkbox Checkbox--radio Checkbox--inline" title="disabled text">
            <input class="Checkbox-input" type="radio" id="radio-3" name="radio-3" disabled>
            <label class="Checkbox-label" for="radio-3">Radio Option</label>
          </div>
        </div>
        <div class="u-xs-size1of3">
          <div class="Input Input--amount">
            <label class="Input-label" for="Input-1">Amount Input:</label>
            <div class="Input-element">
              <span class="Input-amountCurrency">$</span>
              <input class="Input-amountElement"type="text" id="Input-1" placeholder="0.00">
            </div>
          </div>
        </div>
        <div class="u-xs-size1of3">
          <div class="Input Input--datepicker">
            <label class="Input-label" for="Input-1">Date Input:</label>
            <div class="Input-element">
              <span class="Input-datepickerIcon"></span>
              <input class="Input-datepickerElement"type="text" id="Input-1" placeholder="01-01-2017">
            </div>
          </div>
        </div>
      </div>

      <div class="Panel-row Grid">
        <div class="u-xs-size1of4">
          <div class="Input is-required">
            <label class="Input-label" for="Input-1">Text Input:</label>
            <input class="Input-element" type="text" id="Input-1" placeholder="First Name">
          </div>
        </div>
        <div class="u-xs-size1of4">
          <div class="Input Input--amount">
            <label class="Input-label" for="Input-1">Amount Input:</label>
            <div class="Input-element">
              <span class="Input-amountCurrency">$</span>
              <input class="Input-amountElement"type="text" id="Input-1" placeholder="0.00">
            </div>
          </div>
        </div>
        <div class="u-xs-size1of4">
          <div class="Input Input--datepicker">
            <label class="Input-label" for="Input-1">Date Input:</label>
            <div class="Input-element">
              <span class="Input-datepickerIcon"></span>
              <input class="Input-datepickerElement"type="text" id="Input-1" placeholder="01-01-2017">
            </div>
          </div>
        </div>
        <div class="u-xs-size1of4">
          <div class="Input Input--datepicker">
            <label class="Input-label" for="Input-1">Date Input:</label>
            <div class="Input-element">
              <span class="Input-datepickerIcon"></span>
              <input class="Input-datepickerElement"type="text" id="Input-1" placeholder="01-01-2017">
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="Panel-footer">
      <button class="Button Button--negative ss-delete">Clear Filters</button>
      <button class="Button Button--primary ss-check">Apply Filters</button>
    </div>

  </form>

</div>
