---
title: First Time Fundraiser Setup
layout: demo-no-nav
labels:
  - inprogress
  - prototype
order: -1
styles:
  - team-store-demo
---

{{> team-store-partials.header }}

<div class="u-xs-padMd">
  <div class="u-sm-spaceTopLg u-flexExpandSides Panel Panel--hiddenOnSmallestScreens u-maxWidthLg">
    <div class="u-padMd u-xs-padSidesLg u-borderBottom u-flex u-flexAlignItemsCenter u-flexJustifyBetween">
      <div class="u-flex u-flexAlignItemsCenter">
        {{> team-store-partials.fundraising-icon}}
        <h1 class="js-PageTitle u-spaceLeftXs u-xs-spaceLeftSm">Fundraising</h1>
      </div>
      <a href="/demos/team-store-pages/team-store-configured-fund-live.html" class="Button Button--large u-padSidesSm u-xs-padSidesMd">
        Back <span class="u-hidden u-xs-inline">to Store</span>
      </a>
    </div>
    <div class="Grid Grid--alignMiddle">
      <div class="Grid-cell u-sizeFull u-sm-size1of2 u-sm-flexOrderLast u-borderBottom u-sm-borderBottomNone">
        <div class="u-xs-size3of4 u-sm-sizeFull">
          <img src="/team-store-images/funds-raised.png" class="u-block u-sizeFull">
        </div>
      </div>
      <div class="Grid-cell u-sizeFull u-sm-size1of2">
        <div class="u-padMd u-md-padXl">
          <!-- Intro -->
          <h2 style="color: #383838" class="u-spaceBottomMd">How It Works</h2>
          <ol class="u-fontSizeLg u-padLeftLg">
            <li>Add your fundraising goal and set options</li>
            <li>Visitors donate in their cart before checkout</li>
            <li>We mail you a check each month for the full amount of funds</li>
            <li>End fundraiser at any time</li>
          </ol>
          <a href="/demos/team-store-pages/fund-config.html" class="Button Button--primary Button--large u-spaceTopLg">
            Start a Fundraiser
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
