---
title: Marketplace
notes: This example demonstrates the use of jello loader as a full page transition. For example, Rosetta's loading screen as games are being scheduled by Fanapp and sent back to TeamSnap.
layout: demo-no-nav
---

<div class+"main-container">
  {{> marketplace-partials.header }}

  <div class="u-spaceTopLg u-spaceSidesMd">
    <div class="Grid Grid--withGutter">
      {{> marketplace-partials.title }}
      {{> marketplace-partials.filters }}
    </div>
  </div>
</div>
