---
title: Team Store One-Step Intro
notes: Landing page for one-step team store setup.
layout: demo-no-nav
labels:
  - inprogress
  - prototype
order: 0
styles:
  - team-store-demo
---

{{> team-store-partials.header }}

<div class="u-xs-padMd">
  <div class="u-sm-spaceTopLg u-flexExpandSides Panel Panel--hiddenOnSmallestScreens u-maxWidthMd">
    <div class="u-padMd u-xs-padLg u-sm-padXl">
      <h2 style="line-height: 1.2" class="u-spaceBottomMd u-xs-spaceBottomMd">
        Welcome to Your Team Store!
      </h2>
      <p class="u-fontSizeLg">
        Setup only takes a minute.
      </p>
      <div class="u-fontSizeLg u-flex u-spaceTopXl u-spaceBottomMd SetupSteps">
        <div class="u-textCenter u-flexGrow1">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" width="36" style="color: #1A6BAF;">
            <circle cx="18" cy="18" r="16.12" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="3"/>
            <path d="M13.14,24.73a.91.91,0,0,1,1-1H17V13.86c0-.6,0-1.2,0-1.2H17a3.38,3.38,0,0,1-.67.9l-.78.75a.92.92,0,0,1-1.45-.06l-.47-.49a1,1,0,0,1,0-1.48l3.15-3a1.85,1.85,0,0,1,1.3-.53h1.05a.93.93,0,0,1,1,1V23.7h2.8a.93.93,0,0,1,1,1v.7a.94.94,0,0,1-1,1.05H14.16a.92.92,0,0,1-1-1.05Z" fill="currentColor"/>
          </svg>
          <p class="u-fontSizeLg u-spaceTopXs" style="line-height: 1.2; color: #383838; font-weight: 600;">Add text</p>
        </div>
        <div class="u-textCenter u-flexGrow1">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" width="36" style="color: #1A6BAF;">
            <circle cx="18" cy="18" r="16.12" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="3"/>
            <path d="M12.14,25.24c0-6.4,8.3-7.43,8.3-10.95a2.48,2.48,0,0,0-2.7-2.48,3.46,3.46,0,0,0-2.63,1.33c-.47.47-1,.65-1.47.22L13,12.84a.92.92,0,0,1-.27-1.4A6.47,6.47,0,0,1,18,8.76c3.1,0,5.78,1.9,5.78,5.25,0,5.7-7.95,6.68-8.1,10H23a.92.92,0,0,1,1,1v.7a.93.93,0,0,1-1,1H13.26a1,1,0,0,1-1.12-1Z" fill="currentColor"/>
          </svg>
          <p class="u-fontSizeLg u-spaceTopXs" style="line-height: 1.2; color: #383838; font-weight: 600;">Add colors</p>
        </div>
        <div class="u-textCenter u-flexGrow1">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" width="36" style="color: #1A6BAF;">
            <circle cx="18" cy="18" r="16.12" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="3"/>
            <path d="M12.21,23.94l.5-.78c.38-.57.85-.6,1.43-.22a5.65,5.65,0,0,0,3.2,1.12c1.85,0,3.2-1.12,3.2-2.65,0-1.87-1.73-2.75-3.8-2.75h-.38a1.12,1.12,0,0,1-1.15-.72l-.1-.2a1.16,1.16,0,0,1,.23-1.35l2.72-3.23a13.33,13.33,0,0,1,1.28-1.35v-.05a12.22,12.22,0,0,1-1.58.08H13.49a.92.92,0,0,1-1-1v-.7a.93.93,0,0,1,1-1h8.75a.92.92,0,0,1,1.05,1v.27a1.71,1.71,0,0,1-.48,1.28l-3.87,4.47a5.26,5.26,0,0,1,4.85,5.18c0,3-2.28,5.82-6.25,5.82a8.61,8.61,0,0,1-5.13-1.72A1,1,0,0,1,12.21,23.94Z" fill="currentColor"/>
          </svg>
          <p class="u-fontSizeLg u-spaceTopXs" style="line-height: 1.2; color: #383838; font-weight: 600;">
            Add logo<br><span style="font-weight: normal; font-size: 13px; color: #7a7a7a">(optional)</span>
          </p>
        </div>
      </div>
      <p class="u-fontSizeLg">
        We'll configure a few designs from your custom settings and add them to a wide variety of apparel.
      </p>
      <a href="/demos/team-store-setup-one-step.html" class="Button Button--large Button--primary u-spaceTopLg u-sm-spaceTopXl u-block u-sizeFull u-xs-size1of2 u-sm-size5of12 u-flexExpandSides u-textCenter">
        Let's Go
        {{svg "arrow-right" class="Icon u-spaceLeftSm" role="presentation"}}
      </a>
    </div>
  </div>
</div>
