---
title: Team Store Wizard
notes: Landing page for team store wizard flow.
layout: demo-no-nav
labels:
  - inprogress
  - prototype
order: 2
styles:
  - team-store-demo
---

{{> team-store-partials.header }}

<div class="u-xs-padMd">
  <div class="u-sm-spaceTopLg u-flexExpandSides Panel Panel--hiddenOnSmallestScreens u-maxWidthMd">
    <img src="/team-store-images/team-store.jpg">
    <div class="u-padMd u-xs-padLg u-sm-padXl">
      <h2 style="line-height: 1.2" class="u-spaceBottomMd u-xs-spaceBottomMd">Welcome to Your Team Store!</h2>
      <p class="u-fontSizeLg">
        Get top-quality gear personalized with your team’s name, color – even your logo. Shipped fast direct to your door.
      </p>
      <p class="u-fontSizeLg u-spaceTopMd">
        Setup only takes a minute.
      </p>
      <a href="/demos/team-store-pages/team-store-setup-step-1.html" class="Button Button--large Button--primary u-spaceTopLg u-sm-spaceTopXl u-block u-sizeFull u-xs-size1of2 u-sm-size5of12 u-flexExpandSides u-textCenter">
        Let's Go
        {{svg "arrow-right" class="Icon u-spaceLeftSm" role="presentation"}}
      </a>
    </div>
  </div>
</div>
