---
title: Team Store Setup
notes: Initial set up of team store.
layout: demo-no-nav
labels:
  - inprogress
  - prototype
order: 1
styles:
  - team-store-demo
---

<img src="/team-store-images/ios-header.png" class="u-block u-sizeFull u-xs-hidden">
<div class="u-hidden u-xs-flex" style="background-color: #1A6BAF">
  <div style="max-width: 1200px" class="u-padSm u-flex u-flexAlignItemsCenter u-flexExpandSides" >
    {{> team-store-partials.teamsnap-mark}}
    <h1 style="color: white" class="u-spaceLeftSm">Team Store</h1>
  </div>
</div>

<div class="u-xs-padMd">
  <div class="u-sm-spaceTopLg u-flexExpandSides Panel Panel--hiddenOnSmallestScreens u-maxWidthMd">
    <img src="/team-store-images/team-store.jpg">
    <div class="u-padMd u-xs-padLg u-sm-padXl">
      <h2 style="line-height: 1.2" class="u-spaceBottomMd u-xs-spaceBottomMd">Welcome to Your Team Store!</h2>
      <p class="u-xs-fontSizeLg u-fontSizeFlexText">
        We've scoured the country to find the very best gear that our customers need, and made it available to you right at your fingertips.
      </p>
      <p class="u-xs-fontSizeLg u-fontSizeFlexText u-spaceTopMd">
        Take a few moments to add your team colors, name and (optionally) your logo, and you'll be geared up to start showing your team spirit!
      </p>
      <a href="/demos/team-store-setup-step-1.html" class="Button Button--large Button--primary u-spaceTopLg u-sm-spaceTopXl u-block u-sizeFull u-xs-size1of2 u-sm-size5of12 u-flexExpandSides u-textCenter">
        Get Started
        {{svg "arrow-right" class="Icon u-spaceLeftSm" role="presentation"}}
      </a>
    </div>
  </div>
</div>
<img src="/team-store-images/ios-footer.png" class="u-block u-sizeFull u-xs-hidden u-borderTop" style="position: absolute; top: 163vw">
