---
title: Team Store One-Step Setup
notes: One-step setup option beginning with review of smart defaults and links to customize.
layout: demo-no-nav
labels:
  - inprogress
  - prototype
order: 1
styles:
  - team-store-demo
scripts:
 - team-store
---

{{> team-store-partials.header }}
<div class="u-xs-padMd">
  <div class="u-sm-spaceTopLg u-flexExpandSides Panel Panel--hiddenOnSmallestScreens u-maxWidthMd">
    <div class="u-padMd u-xs-padLg u-sm-padSidesXl u-borderBottom u-flex u-flexAlignItemsBaseline">
      <h2 class="js-PageTitle">Set Up Your Team Store</h2>
      <p class="js-TitleOptional u-fontSizeLg u-spaceLeftSm" style="display: none;">
        (optional)
      </p>
    </div>
    <div class="u-padMd u-xs-padLg u-sm-padSidesXl">
      {{> team-store-partials.layout-preview }}
      <div class="js-SettingsReview">
        {{> team-store-partials.review }}
      </div>
      <div class="js-Text" style="display: none;">
        {{> team-store-partials.step-1 }}
        {{> team-store-partials.save-settings }}
      </div>
      <div class="js-Color" style="display: none;">
        {{> team-store-partials.step-2 }}
        {{> team-store-partials.save-settings }}
      </div>
      <div class="js-Logo" style="display: none;">
        {{> team-store-partials.step-3 }}
        {{> team-store-partials.save-settings }}
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
