---
title: Team Store One-Step Setup
notes: One-step setup option beginning with review of smart defaults and links to customize.
layout: demo-no-nav
labels:
  - inprogress
  - prototype
order: 1
styles:
  - team-store-demo
  - slick
  - slick-theme
scripts:
 - team-store
---

{{> team-store-partials.header }}

<div class="u-xs-padMd">
  <div class="u-sm-spaceTopLg u-flexExpandSides Panel Panel--hiddenOnSmallestScreens u-maxWidthMd">
    <div class="u-padMd u-xs-padLg u-sm-padSidesXl u-borderBottom">
      <h2>Set Up Your Team Store</h2>
    </div>
    <div class="u-spaceMd u-xs-spaceLg u-sm-spaceSidesXl">

      {{> team-store-partials.r2-config }}

      <div class="u-spaceEndsLg">
        <div class="Grid Grid--withGutter Grid--alignCenter">
          <div class="Grid-cell u-sizeFull u-xs-size1of2">
            <a class="Button Button--primary Button--large u-block u-sizeFull u-textCenter" href="/demos/team-store-pages/team-store-setup-complete.html">
              {{svg "check" class="Icon u-spaceRightXs" role="presentation"}}
              Save Settings
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{> team-store-partials.ios-footer}}

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
