<div class="drizzle-Nav-item drizzle-u-flex drizzle-u-flexJustifyBetween drizzle-u-flexAlignItemsCenter">
  <label for="classicCss">Use CSS from Classic</label>
  <div class="drizzle__check-toggle">
    <input type="checkbox" id="classicCss" checked class="js-drizzleClassicCssToggle">
    <label></label>
  </div>
</div>
