<div class="drizzle-u-flex drizzle-u-flexAlignItemsCenter">
  <img src="https://storage.googleapis.com/ts_assets_prod-classic_assets/logo-icon-dafd29abff7b6ca55ad71c35bd34d679.png" alt="TeamSnap Logo" width="30" height="30">
  <h3 class="drizzle-u-padLeft drizzle-u-colorWhite drizzle-u-noMarginBottom">Web Style Guide</h3>
</div>
