<div class="drizzle-u-flex drizzle-u-flexAlignItemsCenter">
  <img src="https://aa5498032991a101442c-34c0f4eec246050dfc1ee92670a7b97d.ssl.cf1.rackcdn.com/logo-icon-dafd29abff7b6ca55ad71c35bd34d679.png" alt="TeamSnap Logo" width="30" height="30">
  <h3 class="drizzle-u-padLeft drizzle-u-colorWhite drizzle-u-noMarginBottom">Web Style Guide</h3>
</div>
