{{!-- Nav item partial --}}

<div class="drizzle-Demo-nav u-flex u-flexJustifyBetween u-flexAlignItemsCenter">
  <a href="{{@root.baseurl}}/">
    {{> drizzle.logo}}
  </a>
  {{> drizzle.classic-css-toggle}}
</div>
