{{!-- Nav item partial --}}

<div class="drizzle-Layout-nav drizzle-Nav" id="nav">
  <div class="drizzle-Nav-header drizzle-u-flex drizzle-u-flexAlignItemsCenter">
    <div class="drizzle-u-flex drizzle-u-flexJustifyBetween drizzle-u-flexGrow1 drizzle-u-flexAlignItemsCenter">
      <a href="{{@root.baseurl}}/">
        {{> drizzle.logo}}
      </a>
      {{> drizzle.classic-css-toggle}}
    </div>
  </div>
</div>
