<figure class="drizzle-u-noMargin">
  <svg class="drizzle-Swatch">
    <rect fill="{{color}}" width="100%" height="100%"/>
  </svg>
  <figcaption class="drizzle-u-textSmaller drizzle-u-marginTopSmall">
    <ul class="drizzle-u-listUnstyled drizzle-u-noPadBottom">
      {{#if label}}<li><strong>{{label}}</strong></li>{{/if}}
      <li><code>{{color}}</code></li>
      {{#if property}}<li><code>{{property}}</code></li>{{/if}}
    </ul>
  </figcaption>
</figure>
