---
order: 4
---

<button class="Button Button--blue">
  Blue Button
</button>

<button class="Button Button--blue" disabled>
  Blue Button Disabled
</button>

<button class="Button Button--blue is-active">
  Blue Button Active
</button>
