---
notes: |
  Useful for making UI elements appear actionable:
  + `<a class="Button" href="#meaningful-href">Link</a>`
  + `<button class="Button" type="button">Button</button>`
  + `<input class="Button" type="submit" value="Input">`
links:
  When To Use The Button Element: https://css-tricks.com/use-button-element/
order: 1
---

<button class="Button">
  Default Button
</button>

<button class="Button" disabled>
  Default Button Disabled
</button>

<button class="Button is-active">
  Default Button Active
</button>
