---
notes: When to use the default button.
---

<button class="Button">
  Default Button
</button>

<button class="Button" disabled>
  Default Button Disabled
</button>

<button class="Button is-active">
  Default Button Active
</button>
