---
---

<button class="Button Button--negative">
  Negative Button
</button>

<button class="Button Button--negative" disabled>
  Negative Button Disabled
</button>

<button class="Button Button--negative is-active">
  Negative Button Active
</button>
