---
order: 5
---

<button class="Button Button--orange">
  Orange Button
</button>

<button class="Button Button--orange" disabled>
  Orange Button Disabled
</button>

<button class="Button Button--orange is-active">
  Orange Button Active
</button>
