---
order: 2
---

<button class="Button Button--primary">
  Primary Button
</button>

<button class="Button Button--primary" disabled>
  Primary Button Disabled
</button>

<button class="Button Button--primary is-active">
  Primary Button Active
</button>
