---
notes: |
   `Button--smallSquare` has the same height as `Button--small`, but also comes with a fixed width equal to the height. This button is intended for icons or symols rather than text.
---

<button class="Button Button--yes Button--smallSquare u-spaceRightMd">
  {{svg "check" class="Icon" role="presentation"}}
</button>
<button class="Button Button--no Button--smallSquare u-spaceRightMd">
  {{svg "dismiss" class="Icon" role="presentation"}}
</button>
<button class="Button Button--maybe Button--smallSquare u-spaceRightMd">
  <span class="u-textBold">?</span>
</button>
