---
notes: |
  There are a couple options for status buttons to suit different use cases.

  One is when the button should be neutral by default, and indicate status once it is hovered or selected (as in a ButtonGroup).

  Classes:
  - `.Button--yesDefault`
  - `.Button--maybeDefault`
  - `.Button--noDefault`
---

<div class="ButtonGroup js-ButtonGroupDemo" style="width: 250px">
  <button class="Button Button--yesDefault u-size1of3">
    Going
  </button>
  <button class="Button Button--maybeDefault u-size1of3">
    Maybe
  </button>
  <button class="Button Button--noDefault u-size1of3">
    No
  </button>
</div>
