---
title: Team Store Edit Logo
notes: Edit logo config.
layout: demo-no-nav
labels:
  - inprogress
  - prototype
order: 1
styles:
  - team-store-demo
  - slick
  - slick-theme
scripts:
 - team-store

---

{{> team-store-partials.header }}

<div class="u-xs-padMd">
  <div class="u-sm-spaceTopLg u-flexExpandSides Panel Panel--hiddenOnSmallestScreens u-maxWidthMd">
    <div class="u-padMd u-xs-padLg u-sm-padSidesXl u-borderBottom u-flex u-flexAlignItemsBaseline">
      <h2>Edit/Add Logo</h2>
      <p class="u-fontSizeLg u-spaceLeftSm">
        (optional)
      </p>
    </div>
    <div class="u-spaceMd u-xs-spaceLg u-sm-spaceSidesXl">
      {{> team-store-partials.r2-step-3}}
      <div class="u-spaceTopLg">
        <div class="Grid Grid--withGutter Grid--alignCenter">
          <div class="Grid-cell u-size1of2 u-xs-size1of3">
            <a class="Button Button--negative Button--large u-block u-sizeFull u-textCenter" href="javascript:history.back()">
              {{svg "dismiss" class="Icon u-spaceRightSm" role="presentation"}}
              Cancel
            </a>
          </div>
          <div class="Grid-cell u-size1of2 u-xs-size1of3">
            <a class="Button Button--primary Button--large u-block u-sizeFull u-textCenter" href="javascript:history.back()">
              {{svg "check" class="Icon u-spaceRightSm" role="presentation"}}
              Save
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{> team-store-partials.ios-footer }}

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
