---
title: Team Store Configured
notes: Displays header once team store is setup with a link back to config.
layout: demo-no-nav
labels:
  - inprogress
  - prototype
order: 1
styles:
  - team-store-demo
---


{{> team-store-partials.header }}

<div style="max-width: 1200px" class="u-padMd u-sm-padTopLg u-flexExpandSides u-flex u-flexJustifyBetween u-flexAlignItemsCenter">
  <h2 style="line-height: 1.2" class="u-sm-fontSizeXxl">Tigers 2018</h2>
  <div>
    <a class="Button Button--large u-padSidesMd"href="/demos/team-store-setup-one-step.html">
      {{svg "settings" class="Icon u-sm-hidden" role="presentation"}}
      <span class="u-hidden u-sm-inline">
        Settings
      </span>
    </a>
  </div>
</div>
