---
title: Team Store Setup Wizard - Step 2
notes: Initial color config for team store.
layout: demo-no-nav
labels:
  - inprogress
  - prototype
order: 1
styles:
  - team-store-demo
  - slick
  - slick-theme
scripts:
 - team-store
---

<img src="/team-store-images/ios-header.png" class="u-block u-sizeFull u-xs-hidden">
<div class="u-hidden u-xs-flex" style="background-color: #1A6BAF">
  <div style="max-width: 1200px" class="u-padSm u-flex u-flexAlignItemsCenter u-flexExpandSides" >
    {{> team-store-partials.teamsnap-mark}}
    <h1 style="color: white" class="u-spaceLeftSm">Team Store</h1>
  </div>
</div>

<div class="u-xs-padMd">
  <div class="u-sm-spaceTopLg u-flexExpandSides Panel Panel--hiddenOnSmallestScreens u-maxWidthMd">
    <h2 class="u-padMd u-xs-padLg u-sm-padSidesXl u-borderBottom">
      Step 2: Add Color
    </h2>
    <div class="u-spaceMd u-xs-spaceLg u-sm-spaceSidesXl">
      {{> team-store-partials.step-2 }}
      <div class="u-spaceEndsLg">
        <div class="Grid Grid--withGutter">
          <div class="Grid-cell u-size1of2 u-xs-size1of3 u-flexExpandRight">
            <a class="Button Button--primary Button--large u-block u-sizeFull u-textCenter" href="/demos/team-store-pages/team-store-setup-step-1.html">
              {{svg "arrow-left" class="Icon u-spaceRightSm" role="presentation"}}
              Previous
            </a>
          </div>
          <div class="Grid-cell u-size1of2 u-xs-size1of3 u-flexExpandLeft">
            <a class="Button Button--primary Button--large u-block u-sizeFull u-textCenter" href="/demos/team-store-pages/team-store-setup-step-3.html">
              Next
              {{svg "arrow-right" class="Icon u-spaceLeftSm" role="presentation"}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<img src="/team-store-images/ios-footer.png" class="u-block u-sizeFull u-xs-hidden u-borderTop u-padBottomXs u-borderBottom" style="position: absolute; top: 163vw">

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
