---
title: Team Store Setup Wizard Step 1
notes: Initial text config for team store.
layout: demo-no-nav
labels:
  - inprogress
  - prototype
order: 1
styles:
  - team-store-demo
scripts:
 - team-store
---

{{> team-store-partials.header }}

<div class="u-xs-padMd">
  <div class="u-sm-spaceTopLg u-flexExpandSides Panel Panel--hiddenOnSmallestScreens u-maxWidthMd">
    <div class="u-padMd u-xs-padLg u-sm-padSidesXl u-borderBottom">
      <h2>Step 1: Customize Text</h2>
    </div>
    <div class="u-padMd u-xs-padLg u-sm-padSidesXl">
      {{> team-store-partials.layout-preview}}
      {{> team-store-partials.step-1}}
      <div class="u-spaceEndsMd">
        <div class="Grid Grid--withGutter">
          <div class="Grid-cell u-sizeFull u-xs-size1of3 u-flexExpandLeft">
            <a class="Button Button--primary Button--large u-block u-sizeFull u-textCenter" href="/demos/team-store-pages/team-store-setup-step-2.html">
              Next
              {{svg "arrow-right" class="Icon u-spaceLeftSm" role="presentation"}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
