---
title: Team Store Edit Configuration
notes: Edit existing store configuration.
layout: demo-no-nav
labels:
  - inprogress
  - prototype
order: 1
styles:
  - team-store-demo
  - slick
  - slick-theme
scripts:
 - team-store
---

{{> team-store-partials.header }}

<div class="u-xs-padMd">
  <div class="u-sm-spaceTopLg u-flexExpandSides Panel Panel--hiddenOnSmallestScreens u-maxWidthMd">
    <h2 class="u-padMd u-xs-padLg u-sm-padSidesXl u-borderBottom">
      Make Changes to Your Store
    </h2>
    <div class="u-spaceMd u-xs-spaceLg u-sm-spaceSidesXl">
      {{> team-store-partials.config}}
      <a href="/demos/team-store-pages/team-store-configured.html" class="Button Button--large Button--primary u-spaceTopLg u-sm-spaceTopXl u-block u-sizeFull u-xs-size1of2 u-sm-size5of12 u-flexExpandSides u-textCenter">
        Back to Store
        {{svg "arrow-right" class="Icon u-spaceLeftSm" role="presentation"}}
      </a>
    </div>
  </div>
</div>
{{> team-store-partials.ios-footer }}

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
