---
title: Team Store Setup Wizard Step 1
notes: Initial text config for team store.
layout: demo-no-nav
labels:
  - inprogress
  - prototype
order: 1
styles:
  - team-store-demo
  - slick
  - slick-theme
  - slick-theme
scripts:
 - team-store
---

{{> team-store-partials.header }}

<div class="u-xs-padMd">
  <div class="u-sm-spaceTopLg u-flexExpandSides Panel Panel--hiddenOnSmallestScreens u-maxWidthMd">
    <h2 class="u-padMd u-xs-padLg u-sm-padSidesXl u-borderBottom">
      Step 1: Add Text
    </h2>
    <div class="u-spaceMd u-xs-spaceLg u-sm-spaceSidesXl">
      {{> team-store-partials.step-1}}
      <div class="u-spaceEndsMd">
        <div class="Grid Grid--withGutter">
          <div class="Grid-cell u-sizeFull u-xs-size1of3 u-flexExpandLeft">
            <a class="Button Button--primary Button--large u-block u-sizeFull u-textCenter" href="/demos/team-store-pages/team-store-setup-step-2.html">
              Next
              {{svg "arrow-right" class="Icon u-spaceLeftSm" role="presentation"}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{> team-store-partials.ios-footer }}

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
