<h2 class="u-spaceBottomMd">Start Your Free <span class="u-textNoWrap">90-Day Trial</span></h2>
<form action="/signup/trial_finish" method="post">
  <div class="FieldGroup">
    <label class="FieldGroup-label u-fontSizeLg" for="Sport">Choose a Sport or Group</label>
    <div class="SelectBox SelectBox--large">
      <select class="SelectBox-options" id="Sport" name="team[sport_id]" required>
        <option value="" selected="selected" disabled></option>
        <option value="52">Non-Sport Group</option>
        <option value="" disabled>--------------</option>
        <option value="69">Adaptive Sports</option>
        <option value="72">Alpine Skiing</option>
        <option value="59">Archery</option>
        <option value="26">Australian Football</option>
        <option value="1">Basketball</option>
        <option value="27">Badminton</option>
        <option value="28">Bandy</option>
        <option value="5">Baseball</option>
        <option value="29">Bocce</option>
        <option value="13">Bowling</option>
        <option value="30">Broomball</option>
        <option value="31">Cheerleading</option>
        <option value="32">Chess</option>
        <option value="54">Cow Tipping</option>
        <option value="8">Cricket</option>
        <option value="33">Croquet</option>
        <option value="70">Cross Country</option>
        <option value="71">Cross Country Skiing</option>
        <option value="34">Curling</option>
        <option value="35">Cycling</option>
        <option value="14">Dodgeball</option>
        <option value="25">Dragon Boat</option>
        <option value="36">Fencing</option>
        <option value="15">Field Hockey</option>
        <option value="60">Floor Hockey</option>
        <option value="44">Floorball</option>
        <option value="37">Foosball</option>
        <option value="7">Football</option>
        <option value="46">Golf</option>
        <option value="56">Gymnastics-Men</option>
        <option value="57">Gymnastics-Women</option>
        <option value="38">Hurling</option>
        <option value="68">Handcycling</option>
        <option value="16">Ice Hockey</option>
        <option value="39">Indoor Soccer</option>
        <option value="17">Inline Hockey</option>
        <option value="50">Ki-O-Rahi</option>
        <option value="18">Kickball</option>
        <option value="10">Lacrosse</option>
        <option value="40">Netball</option>
        <option value="53">Outrigger</option>
        <option value="19">Paintball</option>
        <option value="45">Petanque</option>
        <option value="63">Pickleball</option>
        <option value="20">Polo</option>
        <option value="67">Quad Rugby</option>
        <option value="55">Racquetball</option>
        <option value="51">Ringette</option>
        <option value="48">Roller Derby</option>
        <option value="21">Rowing</option>
        <option value="9">Rugby</option>
        <option value="41">Running</option>
        <option value="47">Sailing</option>
        <option value="65">Sled Hockey</option>
        <option value="61">Slo-pitch</option>
        <option value="2">Soccer</option>
        <option value="4">Softball</option>
        <option value="62">Street Hockey</option>
        <option value="42">Swimming</option>
        <option value="43">Tennis</option>
        <option value="58">Track And Field</option>
        <option value="22">Ultimate</option>
        <option value="6">Volleyball</option>
        <option value="23">Water Polo</option>
        <option value="64">Wheelchair Basketball</option>
        <option value="73">Wheelchair Hockey</option>
        <option value="75">Wheelchair Lacrosse</option>
        <option value="66">Wheelchair Softball</option>
        <option value="74">Wheelchair Volleyball</option>
        <option value="11">Wiffleball</option>
        <option value="49">Wrestling</option>
        <option value="" disabled>--------------</option>
        <option value="24">Other Sport</option>
      </select>
    </div>
  </div>
  <div class="FieldGroup">
    <label class="FieldGroup-label u-fontSizeLg" for="Group-Name">Team Name</label>
    <input class="Input Input--large" type="text" name="team[team_name]" id="Group-Name" required>
  </div>
  <button class="Button Button--large Button--primary u-spaceTopMd" type="submit">
    Create Team
  </button>
</form>
