<h2 class="u-spaceBottomMd">Log In to Start Your Free <span class="u-textNoWrap">90-Day Trial</span></h2>
<form action="/login/signin" method="post">
  <div class="FieldGroup">
    <label class="FieldGroup-label u-fontSizeLg" for="login">Email Address</label>
    <input class="Input Input--large" type="email" name="login" id="login" required>
  </div>
  <div class="FieldGroup">
    <label class="FieldGroup-label u-fontSizeLg" for="password">Password</label>
    <input class="Input Input--large" type="password" name="password" id="password" required>
    <div class="FieldGroup-message u-textRight">
      <a target="_blank" href="https://go.teamsnap.com/login/forgot_password">Forgot password?</a>
    </div>
  </div>
  <button class="Button Button--large Button--primary" type="submit">
    Continue
  </button>
</form>
