<div class="u-borderBottom u-padMd u-xs-padSidesLg u-xs-padEndsMd" style="background-color: #1A6BAF;">
  <div class="u-max1200 u-flexExpandSides u-flex u-flexJustifyBetween u-flexAlignItemsCenter">
    <a href="https://www.teamsnap.com" target="_blank">
      {{> promo-partials.teamsnap-logo-white}}
    </a>
    <p class="u-fontSizeMd">
      <span class="u-padSidesSm u-xs-padSidesMd u-padEndsXs Panel u-fontWeightSemibold u-borderNone">
        <span class="u-xs-hidden">SPECIAL</span><span class="u-hidden u-xs-inline">LIMITED TIME</span> OFFER
      </span>
    </p>
  </div>
</div>
