<h1 class="u-padTopMd u-sm-padTopLg">Get All TeamSnap Features <span class="u-textNoWrap">Free for 90 Days</span></h1>
<p class="u-fontSizeLg u-spaceTopSm u-fontWeightSemibold" style="line-height: 1.7">Create a new team with TeamSnap and enjoy a 90-day free trial of our best features, including availability, alerts, TeamSnap Live! and more.</p>
<div class="u-fontSizeLg u-spaceTopLg u-spaceBottomLg u-sm-spaceLeftMd">
  <div class="u-flex">
    {{svg "check" class="Icon u-flexShrink0 u-colorPositive u-fontSizeXl u-spaceRightSm" role="presentation"}}
    <p class="u-spaceBottomMd">No commitment. No credit card required.</p>
  </div>
  <div class="u-flex">
    {{svg "check" class="Icon u-flexShrink0 u-colorPositive u-fontSizeXl u-spaceRightSm" role="presentation"}}
    <p class="u-spaceBottomMd">After the free trial you can choose whatever plan is right for you &mdash; <span class="u-textNoWrap">including the free plan.</span></p>
  </div>
  <div class="u-flex">
    {{svg "check" class="Icon u-flexShrink0 u-colorPositive u-fontSizeXl u-spaceRightSm" role="presentation"}}
    <p>Offer expires October 31.</p>
  </div>
</div>
