---
order: 8
notes: |
  `Popup--hover` makes the content hoverable instead of relying on a click to open; click to keep open still works

  Classes:
  - `.Popup--hover` as a modifier to `Popup` works with all popup types
---


<div class="Popup Popup--hover">
  <button class="Button">
    Up
  </button>
  <div class="Popup-container Popup-container--up" style="width: 200px">
    <div class="Popup-content">
      <div class="u-textBold">
        <a href="">
          <p class="u-padEndsSm u-padSidesMd">Action 1</p>
        </a>
        <hr class="Divider u-spaceEndsNone">
        <a href="">
          <p class="u-padEndsSm u-padSidesMd">
            Action 2
          </p>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="Popup Popup--hover">
  <button class="Button">
    Down
  </button>
  <div class="Popup-container Popup-container--down" style="width: 200px">
    <div class="Popup-content">
      <div class="u-textBold">
        <a href="">
          <p class="u-padEndsSm u-padSidesMd">Action 1</p>
        </a>
        <hr class="Divider u-spaceEndsNone">
        <a href="">
          <p class="u-padEndsSm u-padSidesMd">
            Action 2
          </p>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="Popup Popup--hover">
  <button class="Button">
    Left
  </button>
  <div class="Popup-container Popup-container--left" style="width: 200px">
    <div class="Popup-content">
      <div class="u-textBold">
        <a href="">
          <p class="u-padEndsSm u-padSidesMd">Action 1</p>
        </a>
        <hr class="Divider u-spaceEndsNone">
        <a href="">
          <p class="u-padEndsSm u-padSidesMd">
            Action 2
          </p>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="Popup Popup--hover">
  <button class="Button">
    Right
  </button>
  <div class="Popup-container Popup-container--right" style="width: 200px">
    <div class="Popup-content">
      <div class="u-textBold">
        <a href="">
          <p class="u-padEndsSm u-padSidesMd">Action 1</p>
        </a>
        <hr class="Divider u-spaceEndsNone">
        <a href="">
          <p class="u-padEndsSm u-padSidesMd">
            Action 2
          </p>
        </a>
      </div>
    </div>
  </div>
</div>
