---
order: 6
notes: |
  `Popup-container--left` left-aligns the popup with the triggering element. Can be used in conjunction with `Popup--down` to make the popup appear below _and_ left-aligned.

  Classes:
  - `.Popup-container--left` as a modifier to `Popup-container`

---


<div class="Popup">
  <button class="Button" data-control="popup" data-open="demo6">
    Up Left
  </button>
  <div class="Popup-container Popup-container--left" data-popup="demo6" style="width: 200px">
    <div class="Popup-content">
      <div class="u-textBold">
        <a href="">
          <p class="u-padEndsSm u-padSidesMd">Action 1</p>
        </a>
        <hr class="Divider u-spaceEndsNone">
        <a href="">
          <p class="u-padEndsSm u-padSidesMd">
            Action 2
          </p>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="Popup">
  <button class="Button Button--square" data-control="popup" data-open="demo6a">
    Down Left
  </button>
  <div class="Popup-container Popup-container--down Popup-container--left" data-popup="demo6a" style="width: 200px">
    <div class="Popup-content">
      <div class="u-textBold">
        <a href="">
          <p class="u-padEndsSm u-padSidesMd">Action 1</p>
        </a>
        <hr class="Divider u-spaceEndsNone">
        <a href="">
          <p class="u-padEndsSm u-padSidesMd">
            Action 2
          </p>
        </a>
      </div>
    </div>
  </div>
</div>
