---
title: Colors
notes: |
  TeamSnap brand, state and UI colors.
---

<h1>{{title}}</h1>

{{#each (data "colors")}}
  <h3 class="drizzle-u-capitalize">{{@key}}</h3>
  <ul class="drizzle-u-listInline drizzle-u-noPadBottom">
    {{#each this}}
      <li class="drizzle-u-marginBottom">
        {{> drizzle.swatch }}
      </li>
    {{/each}}
  </ul>
{{/each}}
