---
title: Icons
notes: |
  SVG versions of the Pika icon font symbols.
---

<h1>{{title}}</h1>
<p>SVG versions of the Pika icon font symbols display inline and inherit parent <code>font-size</code> and <code>color</code>.</p>
<p>For more usage information see the <a href="patterns/components/icon.html">Icon</a> component.</p>

<ul class="Grid Grid--withGutter drizzle-u-listUnstyled">
  {{#each (data "icons")}}
    <li class="Grid-cell align-center u-size6of24 u-spaceTopMd">
      <div class="u-padLg" data-bg="fill">
        <h1>{{svg this class="Icon"}}</h1>
        <p>{{this}}</p>
      </div>
    </li>
  {{/each}}
</ul>
