---
title: Themes
notes: |
  TeamSnap supports about two dozen different color themes. Users on Premium or Ultra plans can customize the web app UI with one of these themes.
order: 2
---

<h1>{{title}}</h1>
<p class='U-spaceBottomLg u-fontSizeLg u-borderBottom u-padBottomMd'>
  TeamSnap supports about two dozen different color themes. Users on Premium or Ultra plans can 
  customize the web app UI with one of these themes. The Club &amp; League product and Hockey Canada
  integration also use theme files to differentiate themselves from the core TeamSnap product.
  <a href="https://github.com/teamsnap/teamsnap-ui/tree/main/src/css/themes">See our full set of themes here.</a>
</p>

<h3> Use the Theme Select in the menu to view theme colors:</h3>
<div class="u-flex u-sizeFull">
  <div class="u-bgPrimary u-padXl">
    <p class="u-colorForeground">
      Primary
    </p>
  </div>
  <div class="u-bgSecondary u-padXl">
    <p class="u-colorForeground">
      Secondary
    </p>
  </div>
  <div class="u-bgHighlight u-padXl">
    <p class="u-colorForeground">
      Highlight
    </p>
  </div>
  <div class="u-padXl">
    <p class="u-colorInfo">
      Text Color
      <a href="" class="u-padLeftMd">Link Color</a>
    </p>
  </div>
</div>


<h2 class="u-spaceTopXl">UI Examples</h2>
<p>These are just a few examples. Click through Components in the menu to see how each responds to the different themes.</p>

<div class="Panel u-spaceTopLg u-padLg">
  <h2>Heading 2</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque imperdiet mauris vitae enim sollicitudin mattis. Integer sapien ex, congue et dictum vitae, porta vitae felis. Suspendisse tortor odio, elementum id gravida non, malesuada vel nisl.</p>
  <div class="u-spaceTopLg">
    <button class="Button Button--negative u-spaceRightSm">Button Negative</button>
    <button class="Button Button--primary">Button Primary</button>
  </div>
</div>

{{> patterns.components.table.simple-table }}
{{> patterns.components.feedback.color-modifiers }}
