---
links:
  See full page demontration of Jello Page Loader: /demos/demo-example-4.html
order: 5
---

<div class="PageLoader PageLoader--jello">

  <div class="PageLoader-indicator">

    <span class="PageLoader-indicatorAnimation JelloAnimation">
      <span class="JelloAnimation-shadow"></span>
      <span class="JelloAnimation-box"></span>
    </span>

    <div class="PageLoader-indicatorText">Scheduling Games..</div>

  </div>

  <div class="PageLoader-message">Nice Shirt! Is that Valour?</div>

</div>
