---
links:
  See full page demontration of Jello Page Loader: /demos/jello-page-loader-demo.html
order: 6
---

<div class="Loader Loader--jello">
  <div class="Loader-indicator">
    <span class="JelloAnimation">
      <span class="JelloAnimation-shadow"></span>
      <span class="JelloAnimation-box"></span>
    </span>
    <div class="Loader-indicatorText">Scheduling Games..</div>
  </div>
  <div class="Loader-message">Nice Shirt! Is that Velour?</div>
</div>
