---
notes: |
  + Adding text around your loader requires a little more markup
  + By default loader text uses works with the spin animation
  + The Loader--jello modifier should be added to work with the jello animation
order: 5
---

<div class="Loader">
  <div class="Loader-indicator">
    <span class="SpinAnimation"></span>
    <div class="Loader-indicatorText">Loading</div>
  </div>
  <div class="Loader-message">Nice Shirt! Is that Velour?</div>
</div>
