---
notes: |
  + By default page loader uses works with the spin animation
  + The PageLoader--jello modifier to be added to work with the jello animation
order: 4
---

<div class="PageLoader">
  <div class="PageLoader-indicator">
    <span class="PageLoader-indicatorAnimation SpinAnimation"></span>
    <div class="PageLoader-indicatorText">Loading</div>
  </div>
  <div class="PageLoader-message">Nice Shirt! Is that Valour?</div>
</div>
