<div class="u-flex u-flexAlignItemsCenter u-padEndsMd u-borderBottom">
  <div>
    <p class="u-fontSizeLg ConfigLabel">Text:</p>
  </div>
  <div class="u-flexGrow1 u-padRightSm">
    <p class="u-fontSizeLg">My Team Name Fall Season</p>
  </div>
  <div>
    <a href="/demos/team-store-edit-step-1.html" class="Button u-sizeFull u-textCenter">
      Edit <span class="u-hidden">Text</span>
    </a>
  </div>
</div>

<div class="u-flex u-flexAlignItemsCenter u-padEndsMd u-borderBottom">
  <div>
    <p class="u-fontSizeLg ConfigLabel">Color:</p>
  </div>
  <div class="u-flexGrow1 u-padRightSm u-flex">
    <div style="background-color: blue; width:40px; margin-right: 8px; height:40px; border-radius: 2px;">
    </div>
    <div style="background-color: yellow; width:40px; margin-right: 8px; height:40px; border-radius: 2px;">
    </div>
  </div>
  <div>
    <a href="/demos/team-store-edit-step-2.html" class="Button u-sizeFull u-textCenter">
      Edit <span class="u-hidden">Color</span>
    </a>
  </div>
</div>

<div class="u-flex u-flexAlignItemsCenter u-padEndsMd u-borderBottom u-spaceBottomLg">
  <div>
    <p class="u-fontSizeLg ConfigLabel">Logo:</p>
  </div>
  <div class="u-flexGrow1 u-padRightSm">
    <img src="/team-store-images/wildcats.png" style="height: 40px;">
  </div>
  <div>
    <a href="/demos/team-store-edit-step-3.html" class="Button u-sizeFull u-textCenter">
      Edit <span class="u-hidden">Logo</span>
    </a>
  </div>
</div>

<p class="u-spaceEndsXl">
  <div class="Checkbox Checkbox--large">
    <input class="Checkbox-input" type="checkbox" id="checkbox-1" name="checkbox-1">
    <label class="Checkbox-label u-fontSizeLg" for="checkbox-1">Only allow managers or owners to edit your team store.</label>
  </div>
</p>
