<div class="Grid Grid--withGutter u-fontSizeLg">
  <div class="Grid-cell u-xs-size1of2 u-spaceBottomSm u-padBottomSm">
    <p class="u-textSemibold u-padBottomXs">Fundraiser Goal:</p>
    <p class="u-xs-sizeFull">$1,500</p>
  </div>
  <div class="Grid-cell u-xs-size1of2 u-spaceBottomMd u-padBottomSm">
    <p class="u-textSemibold u-padBottomXs">Donation Amounts:</p>
    <p class="u-xs-sizeFull">$5, $10, $15</p>
  </div>
  <div class="Grid-cell u-sizeFull">
    <hr class="Divider u-spaceBottomLg">
    <h2 class="u-spaceBottomMd" style="color: #383838">Payment</h2>
  </div>
  <div class="Grid-cell u-xs-size1of2 u-sm-sizeFull u-md-size1of2 u-spaceBottomSm u-padBottomSm">
    <p class="u-textSemibold u-padBottomXs">Payee Name:</p>
    <p>Johnny Snap</p>
  </div>
  <div class="Grid-cell u-xs-size1of2 u-sm-sizeFull u-md-size1of2 u-spaceBottomSm u-padBottomSm">
    <p class="u-textSemibold u-padBottomXs">Send Payment To:</p>
    <p>Johnny Snap</p>
    <p>123 Main Street, Apt. B</p>
    <p>Boulder, CO 12345</p>
  </div>
</div>
