<div class="js-ApparelPreview u-padBottomMd u-xs-size3of4 u-flexExpandSides">
  <div class="Tshirt u-flex u-flexAlignItemsCenter u-flexJustifyCenter">
    <div class="js-TextPreview u-size2of3 u-flexExpandSides u-spaceTopXl">
      {{> team-store-partials.sample_text_layout}}
    </div>
    <div class="js-LogoPreview" style="display: none;">
      <img src="/team-store-images/wildcats.png">
    </div>
  </div>
  <div class="u-spaceTopXs u-flex u-flexJustifyBetween">
    <a class="js-LayoutToggle" style="display: none">
      <span class="js-ShowLogo">Show Logo</span>
      <span class="js-ShowText" style="display: none;">Show Text</span>
    </a>
    <p class="u-textRight u-flexGrow1" style="color: #7A7A7A">
      Sample Layout
    </p>
  </div>
</div>
