<div class="u-padSidesMd u-xs-padSidesLg u-padBottomMd u-xs-size3of4 u-flexExpandSides">
  <div class="team-store-slides">
    <div class="team-store-slide">
      <div class="ProductImage u-border u-borderRadiusMd">
        <img src="/team-store-images/default-ss-white.jpeg">
      </div>
    </div>
    <div class="team-store-slide">
      <div class="ProductImage u-border u-borderRadiusMd">
        <img src="/team-store-images/default-hoodie-grey.jpeg">
      </div>
    </div>
    <div class="team-store-slide">
      <div class="ProductImage u-border u-borderRadiusMd">
        <img src="/team-store-images/default-ls-black.jpeg">
      </div>
    </div>
    <div class="team-store-slide">
      <div class="ProductImage u-border u-borderRadiusMd">
        <img src="/team-store-images/default-tank.jpeg">
      </div>
    </div>
    <div class="team-store-slide">
      <div class="ProductImage u-border u-borderRadiusMd">
        <img src="/team-store-images/default-ss-grey.jpeg">
      </div>
    </div>
  </div>
</div>
