{{> team-store-partials.r2-config-slider}}
<div class="FieldGroup">
  <div class="u-flex u-flexAlignItemsCenter u-flexJustifyBetween">
    <label class="FieldGroup-label u-fontSizeLg" for="Input-1">Primary Text</label>
    <span>0/12</span>
  </div>
  <input class="Input Input--large" type="text" id="PrimaryText" maxlength="12" value="Wildcats U12">
</div>
<div class="FieldGroup u-sm-spaceTopLg">
  <div class="u-flex u-flexAlignItemsCenter u-flexJustifyBetween">
    <label class="FieldGroup-label u-fontSizeLg" for="Input-1">
      Secondary Text
      <span class="u-padLeftXs" style="font-weight: normal; color: #7A7A7A">(optional)</span>
    </label>
    <span>0/12</span>
  </div>
  <input class="Input Input--large" type="text" maxlength="12" id="SecondaryText" value="Girls">
</div>
