<div class="u-flex u-flexAlignItemsCenter u-padEndsMd u-borderBottom">
  <div>
    <p class="u-fontSizeLg ConfigLabel">Text:</p>
  </div>
  <div class="u-flexGrow1 u-padRightSm">
    <p class="js-EditText u-fontSizeLg" style="cursor: pointer;">
      <span class="js-primaryTextReview">Wildcats U18</span>
      <span class="js-secondaryTextReview">2018</span>
    </p>
  </div>
  <div>
    <button class="js-EditText Button u-sizeFull u-textCenter">
      {{svg "edit" class="Icon" role="presentation"}}
      <span class="u-hiddenVisually">Edit Text</span>
    </button>
  </div>
</div>

<div class="u-flex u-flexAlignItemsCenter u-padEndsMd u-borderBottom">
  <div>
    <p class="u-fontSizeLg ConfigLabel">Color:</p>
  </div>
  <div class="u-flexGrow1 u-padRightSm u-flex">
    <div class="ColorBlock js-EditColor js-primaryColor" style="background-color: #000;">
    </div>
    <div class="ColorBlock js-EditColor js-secondaryColor" style="background-color: #5f6168;">
    </div>
  </div>
  <div>
    <button class="js-EditColor Button u-sizeFull u-textCenter">
      {{svg "edit" class="Icon" role="presentation"}}
      <span class="u-hiddenVisually">Edit Color</span>
    </button>
  </div>
</div>

<div class="u-flex u-flexAlignItemsCenter u-padEndsMd u-borderBottom u-spaceBottomLg">
  <div>
    <p class="u-fontSizeLg ConfigLabel">Logo:</p>
  </div>
  <div class="u-flexGrow1 u-padRightSm js-EditLogo" style="cursor: pointer">
    <p class="u-fontSizeLg js-LogoNotUploaded" style="line-height: 40px; color: #7a7a7a; font-style: italic">Optional</p>
    <p class="u-fontSizeLg js-LogoUploaded" style="line-height: 40px; display: none; color: #7a7a7a; font-style: italic">
      {{svg "check" class="Icon u-colorPositive u-spaceRightXs u-fontSizeXl" role="presentation"}}
      <span>wildcats.png</span>
    </p>
  </div>
  <div>
    <button class="js-EditLogo Button u-sizeFull u-textCenter">
      {{svg "edit" class="Icon" role="presentation"}}
      <span class="u-hiddenVisually">Edit Logo</span>
    </button>
  </div>
</div>

<p class="u-spaceEndsXl">
  <div class="Checkbox Checkbox--large">
    <input class="Checkbox-input" type="checkbox" id="checkbox-1" name="checkbox-1">
    <label class="Checkbox-label u-fontSizeLg" for="checkbox-1">Only allow team managers/owners to change these settings</label>
  </div>
</p>

<div class="u-spaceEndsLg">
  <div class="u-sizeFull u-xs-size7of12 u-sm-size1of2 u-flexExpandSides">
    <a class="Button Button--primary Button--large u-block u-sizeFull u-textCenter" href="/demos/team-store-pages/team-store-configured.html">
      Save and Create Store
    </a>
  </div>
</div>
