<div class="u-spaceTopMd">
  <div class="Grid Grid--withGutter Grid--alignCenter">
    <div class="Grid-cell u-size1of2 u-xs-size1of3">
      <button class="js-EditClose Button Button--negative Button--large u-block u-sizeFull u-textCenter">
        {{svg "dismiss" class="Icon u-spaceRightSm" role="presentation"}}
        Cancel
      </button>
    </div>
    <div class="Grid-cell u-size1of2 u-xs-size1of3">
      <button class="js-EditClose Button Button--primary Button--large u-block u-sizeFull u-textCenter">
        {{svg "check" class="Icon u-spaceRightSm" role="presentation"}}
        Save
      </button>
    </div>
  </div>
</div>
