<div class="FieldGroup u-spaceTopLg">
  <div class="u-flex u-flexAlignItemsCenter u-flexJustifyBetween">
    <label class="FieldGroup-label u-fontSizeLg" for="Input-1">Primary Text</label>
    <span>0/12</span>
  </div>
  <input class="Input Input--large" type="text" id="PrimaryText" maxlength="12" placeholder="e.g. Team Name" value="Wildcats U18">
</div>
<div class="FieldGroup u-spaceEndsLg">
  <div class="u-flex u-flexAlignItemsCenter u-flexJustifyBetween">
    <label class="FieldGroup-label u-fontSizeLg" for="Input-1">
      Secondary Text
      <span class="u-padLeftXs" style="font-weight: normal; color: #7A7A7A">(optional)</span>
    </label>
    <span>0/12</span>
  </div>
  <input class="Input Input--large" type="text" maxlength="12" id="SecondaryText" placeholder="e.g. 2018" value="2018">
</div>
