<div class="LogoUpload u-textCenter u-padMd u-xs-padXl u-xs-size3of4 u-flexExpandSides">
  <div>
    <div style="font-size: 4em; color: #1A6BAF;">
      {{svg "import" class="Icon"}}
    </div>
    <div class="u-spaceTopMd u-fontSizeLg">
      <p class="u-hidden u-xs-block">Drag your file here</p>
      <p class="u-hidden u-xs-block u-spaceTopSm u-spaceBottomMd">- or -</p>
      <p><a href="" class="Button Button--large">Choose a file</a></p>
    </div>
  </div>
</div>
<div class="u-fontSizeFlexText u-xs-fontSizeLg">
  <p><b>File Requirements:</b></p>
  <ul class="FileRequirements u-spaceEndsSm">
    <li>We will <b>not</b> print copyrighted material.</li>
    <li>Accepted file types: <b>PNG, JPG, and SVG</b>.</li>
    <li>Image must be at least <b>600px</b> wide.</li>
    <li>File must be smaller than <b>8 Mb</b>.</li>
  </ul>
</div>
