---
order: 1
notes: |
  Currently we use a consistent border size and color throughout the app, so the border utilities all share these properties. If in the future we need variation in size and color, we can expand upon these classes:

  + `u-border`
  + `u-borderRight`
  + `u-borderLeft`
  + `u-borderTop`
  + `u-borderBottom`


  + `u-borderNone`
  + `u-borderRightNone`
  + `u-borderLeftNone`
  + `u-borderTopNone`
  + `u-borderBottomNone`

sourceless: true
---

<div class="Grid Grid--withGutter Grid--fit">
  <div class="Grid-cell">
    <div class="u-padMd u-border" data-bg="fill">
      <code>u-border</code>
    </div>
  </div>
  <div class=" Grid-cell">
    <div class="u-padMd u-borderTop" data-bg="fill">
      <code>u-borderTop</code>
    </div>
  </div>
  <div class=" Grid-cell">
    <div class="u-padMd u-borderRight" data-bg="fill">
      <code>u-borderRight</code>
    </div>
  </div>
  <div class=" Grid-cell">
    <div class="u-padMd u-borderBottom" data-bg="fill">
      <code>u-borderBottom</code>
    </div>
  </div>
  <div class=" Grid-cell">
    <div class="u-padMd u-borderLeft" data-bg="fill">
      <code>u-borderLeft</code>
    </div>
  </div>
</div>
