---
order: 4
notes: |
  Override the color of the border. 
  
  Border color won't set the border just change the color.

  + `u-borderColorDefault`
  + `u-borderColorLight`
  + `u-borderColorPrimary`
  + `u-borderColorHighlight`
  + `u-borderColorPostive`
  + `u-borderColorNegative`

sourceless: true
---

<div class="Grid Grid--withGutter Grid--fit u-padBottomMd">
  <div class="Grid-cell">
    <div class="u-padXl u-border u-borderColorDefault">
      <code>u-borderColorDefault</code>
    </div>
  </div>
  <div class=" Grid-cell">
    <div class="u-padXl u-border u-borderColorLight">
      <code>u-borderColorLight</code>
    </div>
  </div>
</div>

<div class="Grid Grid--withGutter Grid--fit">
  <div class=" Grid-cell">
    <div class="u-padXl u-border u-borderColorPrimary">
      <code>u-borderColorPrimary</code>
    </div>
  </div>
  <div class=" Grid-cell">
    <div class="u-padXl u-border u-borderColorHighlight">
      <code>u-borderColorHighlight</code>
    </div>
  </div>
  <div class=" Grid-cell">
    <div class="u-padXl u-border u-borderColorPositive">
      <code>u-borderColorPositive</code>
    </div>
  </div>
  <div class=" Grid-cell">
    <div class="u-padXl u-border u-borderColorNegative">
      <code>u-borderColorNegative</code>
    </div>
  </div>
</div>
