---
order: 3
notes: |
  Adds different sizes of border-radius to elements.

  + `u-borderRadiusNone`
  + `u-borderRadiusSm` (2px)
  + `u-borderRadiusMd` (4px)
  + `u-borderRadiusLg` (8px)

sourceless: true
---

<div class="Panel u-maxWidthXs u-padXl u-spaceSideAuto u-spaceBottomLg u-borderRadiusNone">
  <code>u-borderRadiusNone</code>
</div>

<div class="Panel u-maxWidthXs u-padXl u-spaceSideAuto u-spaceBottomLg u-borderRadiusSm">
  <code>u-borderRadiusSm</code>
</div>

<div class="Panel u-maxWidthXs u-padXl u-spaceSideAuto u-spaceBottomLg u-borderRadiusMd">
  <code>u-borderRadiusMd</code>
</div>

<div class="Panel u-maxWidthXs u-padXl u-spaceSideAuto u-spaceBottomLg u-borderRadiusLg">
  <code>u-borderRadiusLg</code>
</div>
