---
order: 2
notes: |
  Use breakpoints to specifiy min screen widths for borders and radius.

  Breakpoints: `xs`, `sm`, `md` and `lg`

  Applies to all border utilities.

  - eg:  `u-xs-border`, `u-md-borderRight`, `u-lg-borderNone`
  - eg:  `u-xs-borderRadiusNone`, `u-md-borderRadiusLg`

sourceless: true
---

<div class="Grid Grid--withGutter Grid--fit">
  <div class="Grid-cell">
    <div class="u-padMd u-xs-border" data-bg="fill">
      <code>u-xs-border</code>
    </div>
  </div>
  <div class=" Grid-cell">
    <div class="u-padMd u-sm-borderTop" data-bg="fill">
      <code>u-sm-borderTop</code>
    </div>
  </div>
  <div class=" Grid-cell">
    <div class="u-padMd u-md-borderRight" data-bg="fill">
      <code>u-md-borderRight</code>
    </div>
  </div>
  <div class=" Grid-cell">
    <div class="u-padMd u-lg-borderBottom" data-bg="fill">
      <code>u-lg-borderBottom</code>
    </div>
  </div>
</div>
