---
name: Default
notes: |
  SVG icons with class `Icon` display as an inline-block element. They inherit the `color` and `font-size` of the surrounding text.

links:
  "TeamSnap Icons": "/icons.html"
  "Seriously, Don't Use Icon Fonts": "https://cloudfour.com/thinks/seriously-dont-use-icon-fonts/"
---

<p>
  {{svg "alert" class="Icon" role="presentation"}}
  Alert
</p>

<h2>
  {{svg "messages" class="Icon" role="presentation"}}
  Messages
</h2>

<button class="Button Button--primary">
  {{svg "check" class="Icon" role="presentation"}}
  Save
</button>
