---
notes: |
  Customize icon appearance to be different than inherited properties with color and font-size utility classes.
---

<p>
  {{svg "check" class="Icon u-colorPositive" role="presentation"}}
  Black text with a green icon.
</p>

<h1>
  {{svg "check" class="Icon u-fontSizeSm" role="presentation"}}
  Large text with a small icon.
</h1>
