---
notes: |
  Add modifier `Icon--loader` to the "loader" icon for an animated SVG icon that inherits parent text color and size.
---

<button class="Button Button--smallSquare Button--primary">
  {{svg "loader" class="Icon Icon--loader" role="presentation"}}
</button>

<h1>
  {{svg "loader" class="Icon Icon--loader" role="presentation"}}
  Heading element with loading icon
</h1>

<button class="Button Button--large">
  {{svg "loader" class="Icon Icon--loader u-spaceRightSm" role="presentation"}}
  Loading
</button>
