<div class="Input Input--amount">
  <label class="Input-label" for="Input-1">Amount Input:</label>
  <div class="Input-element">
    <span class="Input-amountCurrency">$</span>
    <input class="Input-amountElement"type="text" id="Input-1" placeholder="0.00">
  </div>
</div>
