<div class="Input Input--datepicker">
  <label class="Input-label" for="Input-1">Date Input:</label>
  <div class="Input-element">
    <span class="Input-datepickerIcon"></span>
    <input class="Input-datepickerElement"type="text" id="Input-1" placeholder="01-01-2017">
  </div>
</div>
