---
notes: |
  The is-invlaid class will add error styling around form elements.
  An Input-feedback class div can supply the user with detailed feedback.
  The is-valid class will indicate add success state styling

---
<div class="Input is-required is-invalid" >
  <label class="Input-label" for="Input-1">Text Input:</label>
  <input class="Input-element" type="text" id="Input-1" placeholder="First Name">
  <div class="Input-feedback">
    Input is required
  </div>
</div>
<div class="Input Input--datepicker is-invalid">
  <label class="Input-label" for="Input-1">Date Input:</label>
  <div class="Input-element">
    <span class="Input-datepickerIcon"></span>
    <input class="Input-datepickerElement"type="text" id="Input-1" placeholder="01-01-2017">
  </div>
    <div class="Input-feedback">
      Date is invalid
    </div>
</div>
<div class="Input is-required is-valid"> {{svg "check" class="Icon validation" role="presentation"}}
  <label class="Input-label" for="Input-1">Text Input:</label>
  <input class="Input-element" type="text" id="Input-1" placeholder="First Name">
  <div class="Input-feedback">
    Detailed error feedback
  </div>
</div>
<div class="Input Input--datepicker is-valid"> {{svg "check" class="Icon validation" role="presentation"}}
  <label class="Input-label" for="Input-1">Date Input:</label>
  <div class="Input-element">
    <span class="Input-datepickerIcon"></span>
    <input class="Input-datepickerElement"type="text" id="Input-1" placeholder="01-01-2017">
  </div>
    <div class="Input-feedback">
      Date is required
    </div>
</div>