<div class="Input Input--inline is-required">
  <label class="Input-label" for="Input-inline-1">First Name:</label>
  <input class="Input-element" type="text" id="Input-inline-1" placeholder="First Name">
</div>
<div class="Input Input--inline">
  <label class="Input-label" for="Input-inline-2">Middle Name:</label>
  <input class="Input-element" type="text" id="Input-inline-2" placeholder="Middle Name">
</div>
<div class="Input Input--inline">
  <label class="Input-label" for="Input-inline-3">Last Name:</label>
  <input class="Input-element" type="text" id="Input-inline-3" placeholder="Last Name">
</div>
