
<label class="u-block u-spaceBottomXs u-fontSizeLg">Password:</label>
<div class="u-posRelative">
  <input class="Input Input--large Input--showHide" type="password" placeholder="8+ characters">
  <button type="button" class="Input-showHideButton">
    Show
  </button>
</div>

<div class="u-spaceTopLg">
  <label class="u-block u-spaceBottomXs ">Password:</label>
  <div class="u-posRelative">
    <input class="Input Input--showHide" type="password" placeholder="8+ characters">
    <button type="button" class="Input-showHideButton">
      Show
    </button>
  </div>
</div>
