---
order: 1
---

<div class="ProgressBar">
  <p class="ProgressBar-title">Default</p>
  <div class="ProgressBar-range">
    <div class="ProgressBar-status" style="width: 28%;"></div>
  </div>
</div>
