---
notes: |
  By default, the progress bar title is displayed as a block level element. Adding the following class will display the title as an inline-block element:
  - `.ProgressBar--inline`
order: 5
---
<div class="ProgressBar">
  <div class="ProgressBar-title">Block Title</div>
  <div class="ProgressBar-range">
    <div class="ProgressBar-status" style="width: 45%;"></div>
  </div>
</div>
<div class="ProgressBar ProgressBar--inline">
  <div class="ProgressBar-title">Inline Title</div>
  <div class="ProgressBar-range">
    <div class="ProgressBar-status" style="width: 55%;"></div>
  </div>
</div>
