---
notes: |
  Add the following class to indicate a negative progress bar:
  - `.ProgressBar-status--negative`
order: 3
---

<div class="ProgressBar">
  <p class="ProgressBar-title">Negative</p>
  <div class="ProgressBar-range">
    <div class="ProgressBar-status ProgressBar-status--negative" style="width: 100%;"></div>
  </div>
</div>
