---
notes: |
  Add the following class to indicate a neutral progress bar:
  - `.ProgressBar-status--neutral`
order: 4
---

<div class="ProgressBar">
  <p class="ProgressBar-title">Neutral</p>
  <div class="ProgressBar-range">
    <div class="ProgressBar-status ProgressBar-status--neutral" style="width: 100%;"></div>
  </div>
</div>
