---
notes: |
  Last example includes js demo found in toolkit.js
order: 6
---
<div class="ProgressBar ProgressBar--radial ProgressBar--small">
    <div class="ProgressBar-range">
    <div class="circle half">
      <div class="ProgressBar-status first-half" style="transform: rotate(100deg);"></div>
      <div class="ProgressBar-status second-half" style="transform: rotate(0);"></div>
      </div>
    </div>
</div>
<div class="ProgressBar ProgressBar--radial">

  <div class="ProgressBar-range">
    <div class="circle half">
      <div class="ProgressBar-status first-half" style="transform: rotate(170deg);"></div>
      <div class="ProgressBar-status second-half" style="transform: rotate(0);"></div>
    </div>
  </div>

</div>
<div class="ProgressBar ProgressBar--radial ProgressBar--large demo">
  <div class="ProgressBar-range">
    <div class="circle half">
      <div class="ProgressBar-status first-half" style="transform: rotate(180deg);"></div>
      <div class="ProgressBar-status second-half" style="transform: rotate(240deg);"></div>
    </div>
  </div>
</div>

