---
notes: |
  Uses the standard button component as children rather than composing button styles into new ButtonGroup-button elements.
---

<div class="ButtonGroup">
  <a class="Button Button--primary" href="#meaningful-href">Primary</a>
  <a class="Button" href="#meaningful-href">Default</a>
  <a class="Button is-active" href="#meaningful-href">Active</a>
  <a class="Button" href="#meaningful-href">Default</a>
</div>
