<div class="ButtonGroup js-ButtonGroupDemo">
  <button class="Button">
    Button 1
  </button>
  <button class="Button is-active">
    Button 2
  </button>
  <button class="Button">
    Button 3
  </button>
</div>
