---
order: 3
---

<div class="ButtonGroup js-ButtonGroupDemo" style="width: 250px">
  <button class="Button Button--yesDefault u-size1of3">
    Going
  </button>
  <button class="Button Button--maybeDefault u-size1of3">
    Maybe
  </button>
  <button class="Button Button--noDefault u-size1of3">
    No
  </button>
</div>
