<div class="FieldGroup">
  <label class="FieldGroup-label" for="select-1">Select one</label>
  <div class="SelectBox">
    <select class="SelectBox-options" name="select-1" id="select-1">
      <option value="">Option 1</option>
      <option value="">Option 2</option>
      <option value="">Option 3</option>
      <option value="">Option 4</option>
      <option value="">Option 5</option>
    </select>
  </div>
</div>
