<div class="FieldGroup">
  <label class="FieldGroup-label" for="select-2">Select one</label>
  <div class="SelectBox">
    <select class="SelectBox-options" disabled name="select-2" id="select-2">
      <option value="">Option 1</option>
      <option value="">Option 2</option>
      <option value="">Option 3</option>
      <option value="">Option 4</option>
      <option value="">Option 5</option>
    </select>
  </div>
</div>
