<label class="SelectBox" for="select-1">
  <select class="SelectBox-options" disabled name="select-1" id="select-1">
    <option value="">Option 1</option>
    <option value="">Option 2</option>
    <option value="">Option 3</option>
    <option value="">Option 4</option>
    <option value="">Option 5</option>
  </select>
</label>
