<div class="FieldGroup">
  <label class="FieldGroup-label" for="select-2">Select one</label>
  <div class="SelectBox is-disabled">
    <select class="SelectBox-options" name="select-2" id="select-2" disabled>
      <option value="">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
      <option value="4">Option 4</option>
      <option value="5">Option 5</option>
    </select>
  </div>
</div>
