---
notes: |
  This is a good immediate solution, but may cause in IE.
links:
  Browser support of appearance property: http://caniuse.com/#feat=css-appearance
---

<label class="SelectBox SelectBox--static" for="select-static-1">
  <select class="SelectBox-options" name="select-static-1" id="select-static-1">
    <option value="">Option 1</option>
    <option value="">Option 2</option>
    <option value="">Option 3</option>
    <option value="">Option 4</option>
    <option value="">Option 5</option>
  </select>
  <span class="SelectBox-text">Option 1</span>
</label>
