<div class="StepNav StepNav--small">
  <ul class="StepNav-steps">
    <li class="StepNav-step is-enabled">
      <a class="StepNav-stepLink" href="#">
        <i class="StepNav-stepIcon ss-check"></i>
        <span class="StepNav-stepTitle">Completed Step</span>
      </a>
    </li>
    <li class="StepNav-step is-enabled is-active">
      <a class="StepNav-stepLink" href="#">
        <i class="StepNav-stepIcon ss-location"></i>
        <span class="StepNav-stepTitle">Current Step</span>
      </a>
    </li>
    <li class="StepNav-step">
      <span class="StepNav-stepItem">
        <i class="StepNav-stepIcon ss-lock"></i>
        <span class="StepNav-stepTitle">Next Step</span>
      </span>
    </li>
    <li class="StepNav-step">
      <span class="StepNav-stepItem">
        <i class="StepNav-stepIcon ss-lock"></i>
        <span class="StepNav-stepTitle">Last Step</span>
      </span>
    </li>
  </ul>
</div>
