---
hidden: true
---

<li class="StepNav-step {{#if stepEnabled}}is-enabled{{/if}} {{#if stepActive}}is-active{{/if}}">
  {{#or stepEnabled stepActive}}<a href="#"{{else}}<span{{/or}} class="StepNav-stepLink">
    <span class="StepNav-stepIcon">
      {{defaultTo stepNumber "1"}}
    </span>
    <span class="StepNav-stepTitle">{{defaultTo stepTitle "Step"}}</span>
  {{#or stepEnabled stepActive}}</a>{{else}}</span>{{/or}}
</li>
