<ul class="StepNav steps-4">
  <li class="StepNav-Step is-enabled">
      <a class="StepNav-Item" href="#">
        <i class="StepNav-Icon ss-check"></i>
        <span class="StepNav-Title">Completed Step</span>
      </a>
    </li>
    <li class="StepNav-Step is-enabled is-active">
      <a class="StepNav-Item" href="#">
        <i class="StepNav-Icon ss-location"></i>
        <span class="StepNav-Title">Current Step</span>
      </a>
    </li>
    <li class="StepNav-Step">
      <span class="StepNav-Item">
        <i class="StepNav-Icon ss-lock"></i>
        <span class="StepNav-Title">Next Step</span>
      </span>
    </li>
    <li class="StepNav-Step">
      <span class="StepNav-Item">
        <i class="StepNav-Icon ss-lock"></i>
        <span class="StepNav-Title">Last Step</span>
      </span>
    </li>
</ul>
