<div class="StepNav StepNav--titled">
  <div class="StepNav-title">
    <h2 class="StepNav-titleText">Navigation Title</h2>
  </div>
  <ul class="StepNav-steps">
    <li class="StepNav-step is-enabled">
      <a class="StepNav-stepLink" href="#">
        <i class="StepNav-stepIcon ss-check"></i>
        <span class="StepNav-stepTitle">Completed Step</span>
      </a>
    </li>
    <li class="StepNav-step is-enabled is-active">
      <a class="StepNav-stepLink" href="#">
        <i class="StepNav-stepIcon ss-location"></i>
        <span class="StepNav-stepTitle">Current Step</span>
      </a>
    </li>
    <li class="StepNav-step">
      <span class="StepNav-stepLink">
        <i class="StepNav-stepIcon ss-lock"></i>
        <span class="StepNav-stepTitle">Next Step</span>
      </span>
    </li>
  </ul>
</div>
