---
order: 3
notes: |
  + The `.is-notValid` class will add error styling around form elements.
  + The `.is-valid` class will add success state styling
  + The `FieldGroup-message--error` modifier can be added to the `FieldGroup-message` to add error styling.

---

<div class="FieldGroup is-notValid">
  <label class="FieldGroup-label" for="Input-1">Text Input</label>
  <input class="Input" type="text" id="Input-1" placeholder="First Name">
  <div class="FieldGroup-message FieldGroup-message--error">
    Input is required
  </div>
</div>

<div class="FieldGroup is-notValid">
  <label class="FieldGroup-label" for="select-1">Select Box</label>
  <div class="SelectBox">
    <select class="SelectBox-options" name="select-1" id="select-1">
      <option value="">Option 1</option>
      <option value="">Option 2</option>
      <option value="">Option 3</option>
      <option value="">Option 4</option>
      <option value="">Option 5</option>
    </select>
  </div>
  <div class="FieldGroup-message FieldGroup-message--error">
    Input is required
  </div>
</div>

<div class="FieldGroup is-notValid">
  <div class="FieldGroup-label u-spaceBottomSm">Select all that apply:</div>
  <div class="Checkbox Checkbox--inline">
    <input class="Checkbox-input" type="checkbox" id="checkbox-1" name="checkbox">
    <label class="Checkbox-label" for="checkbox-1">Checkbox Option 1</label>
  </div>
  <div class="Checkbox Checkbox--inline">
    <input class="Checkbox-input" type="checkbox" id="checkbox-2" name="checkbox">
    <label class="Checkbox-label" for="checkbox-2">Checkbox Option 2</label>
  </div>
  <div class="FieldGroup-message FieldGroup-message--error">
    Input is required
  </div>
</div>

<div class="FieldGroup is-valid">
  <span class="FieldGroup-validation">
    {{svg "check" class="Icon" role="presentation"}}
  </span>
  <label class="FieldGroup-label" for="Input-1">Text Input</label>
  <input class="Input" type="text" id="Input-1" placeholder="First Name">
</div>
