---
order: 2
notes: |
  + Use `.FieldGroup-message` to provide supporting or instructional text to form group.

---
<div class="FieldGroup">
  <label class="FieldGroup-label" for="Input-1">Website URL:</label>
  <input class="Input" type="text" id="Input-1" placeholder="https://www...">
  <div class="FieldGroup-message">
    Please provide full URL beginning with http:// or https://
  </div>
</div>
