---
order: 1
notes: Will be adding a circular image modifier soon.
---

<div class="Grid Grid--withGutter u-size8of12">
  <div class="Grid-cell u-size6of12">

    <div class="Card">
      <div class="Card-image">
        <img src="http://williamdingwall.com/simpsons/bart-@1.5x.jpg" />
      </div>
      <div class="Card-content">
          <h3 class="Card-contentHeader">Bart Simpson</h3>
          <div class="Card-contentBody">
            <ul class="Card-contentRow">
              <li>Birthday: 01/01/2017</li>
              <li>Male</li>
            </ul>
          </div>
      </div>
    </div>

  </div>
</div>

