---
order: 2
notes: |
  Applies themed background colors (except for positive and negative) to an element.
sourceless: true
---

<div class="u-padXl u-bgPrimary">
  <p class="u-colorForeground">
    <strong>u-bgPrimary</strong>
    <br>
    (text color: u-colorForeground)
  </p>
</div>
<div class="u-padXl u-bgSecondary">
  <p class="u-colorForeground">
    <strong>u-bgSecondary</strong>
    <br>
    (text color: u-colorForeground)
  </p>
</div>
<div class="u-padXl u-bgHighlight">
  <p class="u-colorForeground">
    <strong>u-bgHighlight</strong>
    <br>
    (text color: u-colorForeground)
  </p>
</div>
<div class="u-padXl u-bgLinkLight">
  <a href="#" class="">
    <strong>u-bgLinkLight</strong>
    <br>
    (text color - default link)
  </a>
</div>
<div class="u-padXl u-bgPositive">
  <p class="u-colorForeground">
    <strong>u-bgPositive</strong>
    <br>
    (text color: u-colorForeground)
  </p>
</div>
<div class="u-padXl u-bgNegative">
  <p class="u-colorForeground">
    <strong>u-bgNegative</strong>
    <br>
    (text color: u-colorForeground)
  </p>
</div>
