---
order: 3
notes: |
  Change the link color to something other than the default. You'll want this instead of plain ol' color utilities to set the interactive states.
sourceless: true
---

<div class="u-spaceBottomLg">
  <h3 class="u-colorInfo">Normal links</h3>
  <p>Links don't require a special class, and they will change with different color themes.</p>
  <p class="u-spaceTopSm">
    <a href="#">I am a normal link</a>
  </p>
</div>

<div class="u-spaceBottomLg">
  <h3 class="u-colorInfo">u-linkNegative</h3>
  <p>Styles links with red rather than the default link color.
  <p class="u-spaceTopSm">
    <a href="#" class="u-linkNegative">I am a link styled with u-linkNegative</a>
  </p>
</div>

<div class="u-spaceBottomLg">
  <h3 class="u-colorInfo">u-linkCascade</h3>
  <p>Applies link styles to all elements nested within anchor.
  <a href="#" class="u-linkCascade">
    <h2>Heading within anchor.</h2>
    <p>Text within anchor.</p>
  </a>
</div>
