---
order: 2
notes: |
  Change the link color to something other than the default. You'll want this instead of plain ol' color utilities to set the interactive states.
---

<p>
  <a href="#">I am a normal link</a>
</p>
<p>
  <a href="#" class="u-linkNegative">I am a link styled with u-linkNegative</a>
</p>
