---
notes: |
  Summary list with overal header

order: 2
---

<div class="SummaryList">
  <h3 class="SummaryList-header">Transaction Overview</h3>
  <ul class="SummaryList-row">
    <li>
      <span class="SummaryList-item-description">Subtotal</span>
      <span class="SummaryList-item-value">$5,100,000.00</span>
    </li>
    <li>
      <span class="SummaryList-item-description">Processing Fees</span>
      <span class="SummaryList-item-value">Passed on to Recipient</span>
    </li>
    <li>
      <span class="SummaryList-item-description">Total Reufnds</span>
      <span class="SummaryList-item-value">$0.00</span>
    </li>
  </ul>
  <ul class="SummaryList-row">
    <li>
      <span class="SummaryList-item-description">Invoice Total</span>
      <span class="SummaryList-item-value">$5,100,000.00</span>
    </li>
    <li>
      <span class="SummaryList-item-description">Total Paid</span>
      <span class="SummaryList-item-value">$5,100,000.00</span>
    </li>
    <li>
      <span class="SummaryList-item-description">Balance</span>
      <span class="SummaryList-item-value">$0.00</span>
    </li>
  </ul>
</div>
