---
notes: |
  Summary list with header on each row

order: 3
---

<div class="SummaryList">
  <h3 class="SummaryList-header">
    <span class="SummaryList-header-description">Invoice Summary</span>
    <span class="SummaryList-header-value">Amount</span>
  </h3>
  <ul class="SummaryList-row">
    <li>
      <span class="SummaryList-item-description">Subtotal</span>
      <span class="SummaryList-item-value">$5,100,000.00</span>
    </li>
    <li>
      <span class="SummaryList-item-description">Processing Fees</span>
      <span class="SummaryList-item-value">Passed on to Recipient</span>
    </li>
    <li>
      <span class="SummaryList-item-description">Total Reufnds</span>
      <span class="SummaryList-item-value">$0.00</span>
    </li>
  </ul>
  <h3 class="SummaryList-header">
    <span class="SummaryList-header-description">Payment Summary</span>
    <span class="SummaryList-header-value">Amount</span>
  </h3>
  <ul class="SummaryList-row">
    <li>
      <span class="SummaryList-item-description">Invoice Total</span>
      <span class="SummaryList-item-value">$5,100,000.00</span>
    </li>
    <li>
      <span class="SummaryList-item-description">Total Paid</span>
      <span class="SummaryList-item-value">$5,100,000.00</span>
    </li>
    <li>
      <span class="SummaryList-item-description">Balance</span>
      <span class="SummaryList-item-value">$0.00</span>
    </li>
  </ul>
  <div class="SummaryList-footer">Balance $0.00</div>
</div>
