---
notes: |
  Summary list with heading on each section

order: 3
---

<div class="SummaryList">
  <h3 class="SummaryList-heading">
    <span>Invoice Summary</span>
    <span>Amount</span>
  </h3>
  <ul class="SummaryList-section">
    <li class="SummaryList-item">
      <span>Subtotal</span>
      <span>$5,100,000.00</span>
    </li>
    <li class="SummaryList-item">
      <span>Processing Fees</span>
      <span>Passed on to Recipient</span>
    </li>
    <li class="SummaryList-item">
      <span>Total Reufnds</span>
      <span>$0.00</span>
    </li>
  </ul>
  <h3 class="SummaryList-heading">
    <span>Payment Summary</span>
    <span>Amount</span>
  </h3>
  <ul class="SummaryList-section">
    <li class="SummaryList-item">
      <span>Invoice Total</span>
      <span>$5,100,000.00</span>
    </li>
    <li class="SummaryList-item">
      <span>Total Paid</span>
      <span>$5,100,000.00</span>
    </li>
    <li class="SummaryList-item">
      <span>Balance</span>
      <span>$0.00</span>
    </li>
  </ul>
  <div class="SummaryList-footer">Balance $0.00</div>
</div>
