---
notes: |
  Basic dot-separated summary list with a description (left aligned) and value (right aligned)

order: 1
---

<div class="SummaryList SummaryList--no-header">
  <ul class="SummaryList-row">
    <li>
      <span class="SummaryList-item-description">Invoice Total</span>
      <span class="SummaryList-item-value">$5,100,000.00</span>
    </li>
    <li>
      <span class="SummaryList-item-description">Total Paid</span>
      <span class="SummaryList-item-value">$5,100,000.00</span>
    </li>
    <li>
      <span class="SummaryList-item-description">Balance</span>
      <span class="SummaryList-item-value">$0.00</span>
    </li>
  </ul>
</div>
