---
notes: |
  Basic dot-separated summary list with a description (left aligned) and value (right aligned)

order: 1
---

<div class="SummaryList SummaryList--no-heading">
  <ul class="SummaryList-section">
    <li class="SummaryList-item">
      <span>Invoice Total</span>
      <span>$5,100,000.00</span>
    </li>
    <li class="SummaryList-item">
      <span>Total Paid</span>
      <span>$5,100,000.00</span>
    </li>
    <li class="SummaryList-item">
      <span>Balance</span>
      <span>$0.00</span>
    </li>
  </ul>
</div>
