---
order: 1
---

<button class="Button" data-control="modal" data-open="modal-one">
  Open Modal
</button>

<div class="Modal" data-modal="modal-one">
  <div class="Modal-content">
    <div class="Modal-header">
      <h2 class="Modal-title">Schedule Preferences</h2>
    </div>
    <div class="Modal-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae nibh sit amet massa fringilla luctus in ac sapien. Nunc eget turpis nec lacus euismod ultrices. Phasellus iaculis ligula at rhoncus lobortis. Praesent vehicula tempor laoreet. Aliquam ultricies orci quis neque porttitor, sit amet maximus magna eleifend. Vivamus ac neque sit amet massa facilisis lobortis vel vitae elit. Aliquam sit amet purus et orci maximus venenatis eu mollis tellus. Nunc dignissim vehicula nibh at malesuada. Nullam sapien felis, fermentum vitae vulputate a, faucibus sit amet justo. Nam dictum placerat est, sed ultrices sapien. Mauris pharetra bibendum elit, a ornare ex. Integer ultricies congue erat, a semper eros finibus sit amet. Nunc imperdiet urna quis volutpat vestibulum. Phasellus sed mi pharetra orci feugiat bibendum in et nunc. Phasellus varius ut nulla non luctus.</p>
      <p>Quisque dapibus ultricies diam, et sagittis velit sagittis non. Suspendisse pulvinar at dui volutpat porta. Vivamus et lorem sed dolor ultrices viverra. Phasellus maximus tristique ante, ut lobortis risus rhoncus eleifend. In hac habitasse platea dictumst. Praesent posuere, nibh vitae bibendum iaculis, ipsum odio consectetur mauris, sit amet auctor diam odio sed justo. Cras gravida est in odio pulvinar, quis gravida risus venenatis. Morbi in convallis justo. Vestibulum pretium ipsum ultricies, sodales tellus id, bibendum massa. Donec quis condimentum est, nec consequat nisl. Aenean sed metus dui. Nam vel pretium sapien, eget venenatis turpis. Maecenas vehicula orci nunc. Proin rutrum ex at augue imperdiet, vitae malesuada diam vulputate.</p>
      <p>Mauris egestas bibendum diam. Sed eget pellentesque lacus. Curabitur ac nibh consectetur, sodales felis id, fringilla dui. Integer posuere lorem vitae dui posuere, sed molestie metus scelerisque. Nullam eu ultrices mi. Aenean dolor nisi, viverra in suscipit vel, dictum id ante. Cras mollis lorem a est tincidunt, eu hendrerit tellus mattis.</p>
    </div>
    <div class="Modal-footer">
      <button class="Button Button--negative" data-dismiss="modal">
        {{svg "dismiss" class="Icon" role="presentation"}}
        Cancel
      </button>
      <button class="Button Button--primary" data-dismiss="modal">
        {{svg "check" class="Icon" role="presentation"}}
        Save
      </button>
    </div>
  </div>
</div>
