<div class="Grid-cell u-spaceTopSm">
  <button data-category-filter="donations" class="Button filterButton u-spaceBottomXs">Donations</button>
  <button data-category-filter="evaluations" class="Button filterButton u-spaceBottomXs">Evaluations</button>
  <button data-category-filter="health" class="Button filterButton u-spaceBottomXs">Health</button>
  <button data-category-filter="marketing" class="Button filterButton u-spaceBottomXs">Marketing</button>
  <button data-category-filter="roster" class="Button filterButton u-spaceBottomXs">Roster</button>
  <button data-category-filter="travel" class="Button filterButton u-spaceBottomXs">Travel</button>
  <button data-category-filter="teamsnap" class="Button filterButton u-spaceBottomXs">TeamSnap</button>
</div>

<style>
  .filterButton {
    border-bottom-width: 1px;
    line-height: 28px;
    border-radius: 15px;
    padding-left: 16px 8px;
    background-color: #fff;
  }
</style>

<script>
  jQuery(document).ready(function(){
    jQuery('.filterBbutton').on('click', function(){
      var filter = $(this).data('category-filter');
      jQuery('.Grid-cell[data-category!='+filter+']').fadeOut();
      jQuery('.Grid-cell[data-category!='+filter+']').fadeIn();
    });
  });
</script>
