---
order: 1
notes: |
  Basic panel layout. Also use `Panel` for table layout. See <a href="./table.html">table</a> for more info.
---



<div class="Panel">
  <div class="Panel-header">
    <h3 class="Panel-title">
      Panel Header
    </h3>
    <button class="Button">
      {{svg "edit" class="Icon" role="presentation"}}
      Edit
    </button>
  </div>
  <div class="Panel-body">
    <div class="Panel-row">
      <h4>Dolor Sit Amet</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque imperdiet mauris vitae enim sollicitudin mattis. Integer sapien ex, congue et dictum vitae, porta vitae felis. Suspendisse tortor odio, elementum id gravida non, malesuada vel nisl.</p>
      <p>Ut nec ex magna. Sed at ipsum eu nulla rhoncus faucibus ut vel erat. Integer vitae porta erat, eu convallis lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed efficitur at eros sed lobortis. Phasellus metus dolor, suscipit id consectetur vel, auctor in lacus. Mauris consequat ut enim id tempor. Morbi nec egestas elit.</p>
    </div>
    <div class="Panel-row">
      <p><strong>leo :</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>
  <div class="Panel-footer">
    <button class="Button Button--negative">Sit</button>
    <button class="Button Button--primary">Amet</button>
  </div>
</div>
