---
order: 3
notes: |
  Stack cells at smaller screen sizes. Modifier classes change the default right border on `Panel-cell--header` to a bottom border up to a maximum screen size. Border radius is also managed so that the appropriate children have rounded corners.

  + `Panel--xsMax-stacked`: Stacked until the `xs` breakpoint
  + `Panel--smMax-stacked`: Stacked until the `sm` breakpoint
  + `Panel--mdMax-stacked`: Stacked until the `md` breakpoint
  + `Panel--lgMax-stacked`: Stacked until the `lg` breakpoint

---

<div class="Panel Panel--mdMax-stacked">
  <div class="Panel-header">
    <h3 class="Panel-title">
      Panel Header
    </h3>
    <button class="Panel-button Button">
      {{svg "edit" class="Icon" role="presentation"}}
      Edit
    </button>
  </div>
  <div class="Panel-body">
    {{#iterate 3}}
      <div class="Panel-row Grid u-padNone">
        <div class="Panel-cell Panel-cell--header Grid-cell u-lg-size1of3">
          <h4>
            {{#iterate 2}}
              {{capitalize (random "word")}}
            {{/iterate}}
          </h4>
        </div>
        <div class="Panel-cell Grid-cell u-lg-size2of3">
          {{random "sentence" words=5}}
        </div>
      </div>
    {{/iterate}}
  </div>
</div>
