---
title: Spacing & Sizing
notes: |
  TeamSnap brand, state and UI colors.
layout: prose
order: 1
---

<h1>{{title}}</h1>
<img src="/design-elements/spacing_graphic.jpg">
<p>
While more space between elements separates them and less space between elements groups them together, 
creating a relation between the various spaces helps to connect the entire page and bring a sense of rhythm to a site. 
Now to do this effectively, that relation shouldn't stop at just spacing between elements, but also the way things are 
sized and the spacing within elements.  This is where the eight point grid comes in.
</p>

<h2>The 8pt Grid</h2>
<img src="/design-elements/8pt_grid.png">
<p>
Starting from a base unit of 8px, every step forward is an increment of 8 (16, 24, 32...) and every step backwards halves 
the base unit (4, 2, 1...), so every defined unit is a either a multiple or factor of 8. These units can be used to define 
the height of elements like buttons, inputs, and progress bars, as well as spacing of elements like table cells, feedback, 
and panels, so as each progresses in size for various uses they do so in symmetry.
</p>
<h3>Further Reading</h3>
<ul>
  <li><a href="https://spec.fm/specifics/8-pt-grid" target='_blank'>The 8-Point Grid</a></li>
  <li><a href="https://builttoadapt.io/intro-to-the-8-point-grid-system-d2573cde8632" target='_blank'>Intro to The 8-Point Grid System</a></li>
  <li><a href="https://www.manifold.co/blog/why-manifold-uses-an-8pt-grid-b068e9287ba9" target='_blank'>Why Manifold uses an 8pt grid</a></li>
</ul>
