---
title: Typography
notes: |
  TeamSnap brand, state and UI colors.
order: 3
layout: prose
---

<h1>{{title}}</h1>

<img src="/design-elements/type_graphic.jpg">

<p class="u-padBottomMd">
  Our primary heading font is Museo Sans Rounded. It is a geometric, highly-legible font. The soft, rounded nature 
  of the type compliments our chosen icon set. Then Open Sans is used primarily for body copy and sub-headings. 
  Open Sans was commissioned by Google, and was developed to have a “neutral, yet friendly appearance” and be 
  “optimized for legibility across print, web, and mobile interfaces.”
</p>

<section class="doc-Intro">
  <h2>Typography and the Modular Scale</h2>
  <img src="/design-elements/type-scale.jpg">
  <p>
    Taking the notion of scaling further with our typography, a modular scale is applied so the way 
    we size and space type all follows a consistent progression. Our modular type scale is 1.125 with 
    a base of 13px, so within the web app every font size progresses either by continually multiplying 
    or dividing by 1.125; a 1/8 increment; line height and letter spacing follows the same pattern See more at 
    <a href="https://www.modularscale.com/" target='_blank'>modularscale.com</a>
  </p>
  <small class='u-block u-padTopMd u-padBottomSm'>Heading Examples:</small>
  <h1 class="u-padBottomMd">
    <span class='doc-FontLabel'>H1.</span> Heading 1
  </h1>
  <h2 class="u-padBottomMd">
    <span class='doc-FontLabel'>H2.</span> Heading 2
  </h2>
  <h3 class="u-padBottomMd">
    <span class='doc-FontLabel'>H3.</span> Heading 3
  </h3>
  <h4 class="u-padBottomMd">
    <span class='doc-FontLabel'>H4.</span> Heading 4
  </h4>
  <h5 class="u-padBottomMd">
    <span class='doc-FontLabel'>H5.</span> Heading 5
  </h5>
  <small class='u-block u-padTopMd u-padBottomSm'>Body Copy Examples:</small>
  <p class='u-padBottomMd'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut laoreet dolor. Morbi ac mattis urna. Cras sit amet augue eget sapien cursus elementum ut nec lacus. Sed auctor ullamcorper purus nec egestas. Vivamus et porta arcu. Donec vestibulum in turpis quis consectetur. Aenean dignissim congue magna ut dignissim.</p>
  <p><strong>Cras</strong> et <a href="#awesome-link">tristique</a> <em>orci</em>. Mauris sodales dolor ac enim dignissim ullamcorper. Morbi ac facilisis arcu. Pellentesque tempor odio sed faucibus gravida. Praesent eu blandit nisl. Duis nec enim felis. Vestibulum non laoreet nibh. Pellentesque interdum neque tortor.</p>
</section>
